{% extends 'app/app.twig' %}

{% block head %}
    <meta name="description" content="Completa el siguiente formulario y accede a un 40% de descuento automático en nuestros programas académicos asociados."/>
    <link rel="stylesheet" href="/2022/dist/css/becas-formularios.css"/>
{% endblock %}

{% block body %}
    <div class="contenedor"> 
        <aside class="formulario-becas">
            <div class="center-head">
                <div class="center-title form-title">
                    <p class="blog-h2">Solicita tu beca</p>
                </div>
                <div class="center-hr">
                    <hr class="hr-red"/>
                </div>
            </div>
            <iframe src="https://aucalizate.aucal.edu/zs/M0hMhQ"; frameborder='0' style='height:1200px;width:100%;' marginwidth='0' marginheight='0' scrolling='auto' allow='geolocation' alt="AUCAL Bussines School Formulario"></iframe>
        </aside>    
    </div>
{% endblock %}