{% extends 'app/app.twig' %}

{% block head %}
    <link rel="stylesheet" href="/2022/dist/css/politica.css"/>
{% endblock %}

{% block body %}
    <div class="contenedor"> 
        <aside class="info-politica">
            <div class="center-head">
                <div class="center-title">
                    <p class="cu-h2">Condiciones Generales de Contratación</p>
                </div>
                <div class="center-hr">
                    <hr class="hr-red"/>
                </div>
            </div>
            <div class="tabs-txt">                
                <p class="titula-txt">
                    AUCAL en cumplimiento de lo dispuesto en el Real Decreto 1906/99, de 17 de diciembre, por el que se regula la contratación electrónica con condiciones generales en desarrollo del artículo 5.3 de la Ley 7/1998, de 13 de abril, de condiciones generales de contratación, establece las siguientes condiciones generales de contratación:
                </p>
                <br/>                  
            </div>
            <div class="tabs-title">
                <p class="tab-h1">Objeto</p>
            </div>
            <div class="tabs-txt">                
                <p class="titula-txt">
                    Las presentes Condiciones Generales de Contratación tienen por objeto la contratación de los servicios ofrecidos por AUCAL a través de su página https://www.aucal.edu/
                </p>
                <br/>  
            </div>            
            <div class="tabs-title">
                <p class="tab-h1">Capacidad para contratar</p>
            </div>
            <div class="tabs-txt">
                <p class="titula-txt">
                    De acuerdo con la legislación aplicable, para contratar los servicios ofrecidos por AUCAL a través de https://www.aucal.edu/ , el cliente deberá tener la capacidad jurídica necesaria para contratar que establezca la ley del país del que es nacional.
                </p>
                <br>
            </div>  
            <div class="tabs-title">
                <p class="tab-h1">Descripción del servicio</p>
            </div>
            <div class="tabs-txt">
                <p class="titula-txt">
                    AUCAL a través de su página web https://www.aucal.edu/ ofrece cursos de formación online y semipresencial, tanto a nivel nacional como internacional, centrándose en el mercado español y latinoamericano.
                </p>  
                <br>
            </div>  
           
            <div class="tabs-title">
                <p class="tab-h1">Proceso de contratación</p>
            </div> 
            <div class="tabs-txt">                
                <p class="titula-txt">
                    El usuario puede matricularse de forma online en el apartado correspondiente de cada curso o bien puede hacerlo de forma telefónica en los teléfonos 980691233 y 911161785 o por correo electrónico en el email informacioncursos@aucal.edu.
                </p>
                <br/>  
                <p class="titula-txt">
                    En cualquiera de las opciones anteriores, el usuario recibirá una hoja de matricula que deberá rellenar y enviar junto con la documentación requerida en el curso (que dependerá de cada curso).
                </p>         
                <br>
                <p class="titula-txt">La matriculación que se realice será individual e intransferible para cada persona y cada curso.</p><br>
                <p class="titula-txt">Formalizada la matriculación, AUCAL comprobará el pago efectivo del precio del curso/s de que se haya matriculado el cliente,reservándose el derecho de cancelar el curso/s si el abono no se hiciese efectivo en el plazo o plazos indicados.</p><br>
                <p class="titula-txt">Si el alumno suspende o solicita una ampliación del curso, este hecho tendrá un coste determinado para cada uno de los programas. Para recibir información al respecto, el alumno puede contactar con el centro y solicitar dicha información.</p><br>
            </div>                 
            <div class="tabs-title">
                <p class="tab-h1">Desarrollo de los cursos o programas</p>
            </div> 
            <div class="tabs-txt">
                <p class="titula-txt">
                    AUCAL se reserva el derecho a denegar el acceso a los cursos contratados a aquellos participantes que muestren un comportamiento que afecte al normal funcionamiento de la clase, el foro y realicen actividades que infrinjan su código de conducta, tales como: La difusión, sin la autorización oportuna, de los materiales facilitados en la realización de los cursos o programas, el empleo del nombre de usuario y clave de acceso personal e intransferible por más de una persona al mismo tiempo, causando claro fraude a la empresa, la realización de actividades que violen los derechos de propiedad intelectual de AUCAL , utilización de la clase para un fin distinto al previsto, etc.
                </p> 
                <br>
            </div>
            <div class="tabs-title">
                <p class="tab-h1">Protección de datos de carácter personal</p>
            </div> 
            <div class="tabs-txt">
                <p class="titula-txt">
                    De acuerdo con la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, AUCAL informa al usuario que existe un fichero de datos de carácter personal creado por y bajo responsabilidad de AUCAL, que serán tratados para los fines propios de AUCAL, entre los que se encuentran la emisión de los certificados académicos que procedan, su envío a la dirección indicada, la remisión de información que se solicite de cualquier servicio ofrecido por AUCAL, envío de publicidad sobre los servicios ofertados o que se vayan a ofertar, etc.; en la medida que así lo haya autorizado el interesado; siendo responsabilidad del usuario la exactitud de los mismos. De no manifestar lo contrario, el titular de los datos consiente expresamente el tratamiento autorizado total o parcial de dichos datos por el tiempo que sea necesario para cumplir con los fines anteriormente indicados. Asimismo, AUCAL hace saber al titular de los datos que podrá ejercer los derechos de acceso, rectificación, cancelación y oposición en la dirección de correo electrónico comunicaciones@aucal.edu. AUCAL se compromete al cumplimiento de su obligación de secreto de los datos de carácter personal y de su deber de guardarlos, y de adoptar las medidas de seguridad exigidas por la legislación aplicable para evitar su alteración, pérdida, tratamiento o acceso no autorizado, siempre de acuerdo al estado de la tecnología disponible.
                </p> 
                <br>
            </div>   
            <div class="tabs-title">
                <p class="tab-h1">Propiedad Intelectual e Industrial</p>
            </div> 
            <div class="tabs-txt">
                <p class="titula-txt">
                    AUCAL es titular de todos los derechos de propiedad industrial e intelectual de la página https://www.aucal.edu/, y de los elementos contenidos en la misma, asi como de la plataforma de formación de los cursos contratados. Está estrictamente prohibido modificar, transmitir, distribuir, reutilizar, reenviar o usar la totalidad o parte del contenido de la página o de la plataforma para propósitos públicos o comerciales sin la autorización de AUCAL La infracción de cualquiera de los citados derechos puede constituir una vulneración de las presentes disposiciones, así como un delito castigado de acuerdo con los arts. 270 y ss. del vigente Código Penal.
                </p> 
                <br>
            </div> 
            
            <div class="tabs-title">
                <p class="tab-h1">Formas de pago</p>
            </div> 
            <div class="tabs-txt">
                <p class="titula-txt">
                    Todos los programas y cursos de AUCAL podrán ser abonados por transferencia bancaria, tarjeta de crédito mediante TPV seguro, Paypal, Stripe y distintas alternativas de financiación. 
                    </br></br>
                    <b>SEQURA</b>
                    </br></br>
                    <ul>
                        <li>- Prestamista: SEQURA WORLDWIDE, S.A – CIF: A66054164</li>
                        <li>- Dirección postal: C/ Alí Bei 7-9, entresuelo, C.P. 08010, Barcelona</li>
                        <li>- Teléfono: 931 760 008</li>
                        <li>- Correo electrónico: <a href="mailto:clientes@sequra.es" target="_blank">clientes@sequra.es</a></li>
                        <li>- Dirección de la página web: <a href="www.sequra.com" target="_blank">www.sequra.com</a></li>
                    </ul>
                    </br></br>
                    Servicio ofrecido por SEQURA: Permite al Consumidor realizar el pago de cada una de las compras realizadas en los Comercios adheridos a SEQURA en diferentes plazos, realizando el primer pago con tarjeta en el mismo momento de la compra.
                    </br></br>
                    El Consumidor deberá solicitar los servicios ofrecidos por SEQURA a través de el sitio web del Comercio. Completada la solicitud, SEQURA realiza una evaluación de la solvencia financiera del Consumidor la finalidad de aprobar la solicitud de los servicios.
                    </br></br>
                    Así, el Consumidor, solicitante, realizará una solicitud de préstamo mediante el uso de cualquiera de los Comercios adheridas, cumplimentado los formularios con información veraz y precisa.
                    </br>
                    SEQURA se reserva el derecho a realizar una nueva evaluación económica en cada nueva solicitud de los servicios ofrecidos por SEQURA.
                    </br>
                    SEQURA se reserva el derecho de denegar la solicitud de los servicios o la ampliación del préstamo concedido si el resultado de la evaluación de la solvencia financiera del Consumidor determina que existe un riesgo significativo de incumplir con la obligación de pago en la fecha debida.
                    </br>
                    SEQURA se reserva el derecho de denegar la prestación de los servicios si tras haber aceptado la transacción, se descubrieran actos, independientemente del momento en que se produjeran, que impliquen la pérdida de los requisitos necesarios por parte del Consumidor para la concesión del servicio de SEQURA.
                    </br></br>
                    Si la denegación se basa en la consulta de un fichero, SEQURA informará al Consumidor del resultado de dicha consulta.
                    </br></br>
                    La información a la que se refiere el párrafo anterior no se facilitará al Consumidor en los supuestos que una norma de aplicación directa así lo prevea o sea contrario a objetivos de orden o seguridad pública.
                    </br>
                    Salvo limitación expresa de SEQURA el Consumidor podrá tener dos o más préstamos simultáneamente en el tiempo.
                    </br></br>
                    El Contrato de préstamo se forma y celebra a distancia mediante el uso de los servicios a distancia que pone el sitio web y SEQURA al alcance del Consumidor.
                    </br>
                    El consentimiento y la intención de contratar se manifestarán por las PARTES mediante el uso de cualquier medio que permita la concurrencia de la oferta y la aceptación sobre la cosa y la causa que dan lugar al contrato y que permita un registro duradero de la transacción en concordancia con los artículos 7, 8 y 9 de la Ley 22/2007 del 11 de julio. En este sentido, las PARTES expresan y entienden que el consentimiento es manifestado mediante el uso de los servicios a distancia proporcionados por SEQURA.
                    </br></br>
                    Al realizar y enviar una solicitud de préstamo, el Consumidor solicitante, manifiesta:
                    </br>
                    <ul>
                        <li>- Que no tiene pagos o deudas pendientes con terceros que puedan interferir en el pago del préstamo y sus intereses.</li>
                        <li>- Que toda la información y documentación proporcionada a SEQURA es verdadera y precisa.</li>
                        <li>- Que ha leído y aceptado la política de privacidad, las condiciones generales y específicas del préstamo.</li>
                    </ul>
                    </br></br>
                    Una vez recibida la solicitud, SEQURA comunicará, de forma online al Consumidor solicitante la decisión de aprobar o rechazar su solicitud en un tiempo breve, sin perjuicio de tener SEQURA el derecho a cambiar dicha decisión en caso de haberse basado en información incorrecta, de aparecer nueva información anteriormente indisponible o de existir algún hecho que pueda haber hecho a SEQURA tomar una decisión incorrecta.
                    </br>
                    SEQURA se reserva el derecho de requerir al Consumidor solicitante cualquier documentación necesaria para establecer su solvencia económica.
                    </br></br>
                    El contrato se entenderá perfeccionado una vez recibida la decisión de SEQURA en la que se apruebe la solicitud de préstamo.
                    </br></br>

                    <b>APLAZAME</b>
                    </br></br>
                    Financia tu compra al instante con Aplazame. Es rápido, sencillo y seguro. Elige tu producto, selecciona Aplazame como método de pago al final del proceso de compra, elige el número de cuotas y el día de mes en el que quieres pagar. Aplazame te concederá el crédito al instante. Sólo con tu email, tu móvil y tu número de DNI. Sin papeleos y sin letra pequeña. Lo que ves es lo que pagarás ¡ni un céntimo más!
                    </br></br>
                    Condiciones de la financiación:
                    </br>
                    <ul>
                        <li>- Al solicitar el préstamo se te pedirá; realizar el pago de una entrada inicial. La cuantía de tu préstamo será el importe de tu cesta menos esa entrada inicial. Ésa es la cantidad que financiaremos en el número de cuotas que elijas. Por ejemplo, una financiación a 6 meses implicará 7 pagos, uno en el momento de la concesión del crédito y 6 pagos en cada uno de los 6 meses siguientes a la compra.</li>
                        <li>- Los pagos se hacen con la tarjeta que aporte el cliente a Aplazame.</li>
                        <li>- El SMS enviado por Aplazame para la tramitación de la solicitud de crédito no tiene ningún coste para ti.</li>
                    </ul>
                    </br></br>
                    El usuario acepta que todos sus datos de carácter personal sean íntegramente cedidos a Aplazame desde el momento en que el usuario haya iniciado la contratación del servicio de pago aplazado ofrecido por ésta última en el momento de elegir la forma de pago. Esta aceptación se extiende a terceras entidades que tuvieran que acceder a los ficheros para el buen fin del contrato.
                    </br></br>

                    <b>FLOA</b>
                    </br></br>
                    Nuestro socio financiero, FLOA, le ofrece soluciones de pago aplazado en forma de préstamos para sus compras de bienes y/o servicios, a pagar en  3 o 4 plazos o pago diferido (en 30 días) 
                    con tarjeta de crédito y en un máximo de 3 meses. Sin intereses: TIN 0,00%. TAE 0,00%. Con intereses: TIN 1,00%. TAE [TAE mínima del 8,31% y máxima del 12,73%or]. La TAE podrá variar en función de la duración del préstamo eje. El importe mínimo a financiar es de 50€ y, el máximo, de 3.000€. 
                    </br></br>
                    Por ejemplo con intereses: para una compra financiada de 1.000€ con 4 cuotas a pagar en 3 meses, la primera cuota será de 252,50€ (250€ de capital, y 2,50€ de comisiones), a pagar en el momento de la contratación, y las 3 siguientes cuotas serán de 252,50€ (250,00€ de capital, y 2,50€ de comisiones), a pagar mensualmente. TIN: 1,00%. TAE 8,31%€. Importe total del préstamo/importe total adeudado: 1.010,00€. Coste total del préstamo: 10€. 
                    </br></br>
                    El precio de compra al contado, sin financiar, sería de 1.000€. El precio total, financiando la compra, sería de 1.010,00€.
                    </br></br>
                    Por ejemplo sin intereses: para una compra financiada de 1.000€ con 3 cuotas a pagar en 2 meses, la primera cuota será e 333,34€ de capital, a pagar en el momento de la contratación, y las 2 siguientes en
                    cuotas serán de 336,33€ de capital, a pagar mensualmentet. TIN 0,00%. TAE 0,00%. Sin intereses. Importe total del préstamo/importe total adeudado: 1.000,00€. Coste total del préstamo: 0€. El precio de compra al contado, sin financiar, sería de 1.000€. El precio total, financiando la compra, sería de 1.000,00€. 
                    </br></br>
                    La financiación está sujeta a la aceptación de FLOA. Dispone de 14 días naturales para ejercer su derecho de desistimiento. Para más información, consulte los Términos y Condiciones disponibles <a href="https://www.floapay.com/images/PDF/20210118_CGV_Espagne_vdef.pdf" target="_blank">aquí</a>.
                    </br></br>
                    Estas soluciones de financiación no están sujetas a la Ley 16/2011, de contratos de crédito al consumo, y están reservadas a personas físicas (mayores de edad) residentes en España titulares de una tarjeta bancaria de Visa o MasterCard que no caduque antes de la última fecha de reembolso del préstamo. FLOA es una entidad financiera constituida como sociedad anónima constituida en Francia, inscrita en el Registro Mercantil de Bordeaux 434 130 423 y con sede social en: Immeuble G7, 71 Rue Lucien Faure 33300 BORDEAUX, FRANCE. FLOA está sometida al control de la Autorité de contrôle prudentiel et de résolution (ACPR) 4 Place de Budapest, CS 92459, 75436 PARIS, FRANCE número del Registro ORIAS 07028160 (<a href="http://www.orias.fr/" target="_blank">www.orias.fr</a>). 
                    </br></br>
                    Recuerde que, si solicita el pago de su pedido de bienes y/o servicios utilizando una de estas soluciones de pago, sus datos personales se transmitirán a FLOA con el fin de revisar su solicitud de financiación, gestionar su contrato de crédito y, en su caso, el cobro. Para más información, haga clic <a href="https://www.floapay.com/images/PDF/20210614_POLITIQUE_CONFIDENTIALITE_FLOA_BANK_vES.pdf" target="_blank">aquí</a>. 
                </p> 
                <br>
            </div>  
            <div class="tabs-title">
                <p class="tab-h1">Derecho de resolución</p>
            </div> 
            <div class="tabs-txt">
                <p class="titula-txt">
                    El usuario dispondrá de un plazo de siete días hábiles para resolver la contratación realizada y AUCAL reembolsará la cantidad percibida sin retención alguna, siempre y cuando el material entregado sea devuelto en perfecto estado, sin haber sido abierto o manipulado.
                </p> 
                <br>               
            </div>   
            <div class="tabs-title">
                <p class="tab-h1">Incidencias y reclamaciones</p>
            </div> 
            <div class="tabs-txt">
                <p class="titula-txt"> 
                    En el caso de que el usuario desee comunicar alguna incidencia, comentario o efectuar alguna reclamación podrá hacerlo mediante correo electrónico en el email informacion@aucal.edu o por teléfono en los números 980691233 o 911161785.
                </p> 
                <br>                
            </div>
            <div class="tabs-title">
                <p class="tab-h1">Modificaciones</p>
            </div> 
            <div class="tabs-txt">
                <p class="titula-txt">Las presentes condiciones generales podrán ser objeto de modificaciones, que serán comunicadas en la web. Tales modificaciones no afectarán a las contrataciones de cursos y programas ya efectuadas.</p> 
                <br>                
            </div> 
        </aside>   
        <aside class="formulario"> 
            <div class="tabs-title">
                <p class="tab-h1">¡Quiero Inscribirme!</p>
                <div class="tabs-txt">
                    <p class="titula-txt">Dejanos tus datos para que podemos llamarte y asesorate lo mejor posible en todo lo que necesites. Estamos contigo desde el principio</p> 
                    <br>
                                    
                </div> 
            </div> 
            <iframe frameborder="0" style="height:1150px;width:99%;border:none;" 
            src='https://formulario.aucal.edu/aucalbusinessschool/form/FormularionuevaWebAUCAL/formperma/7-ULZDtrn9jf9iR3AmWEYjBwVmxtAmdLMjZk9fTGaYg' alt="AUCAL Bussines School Formulario">
            </iframe>      
        </aside>
    </div>
{% endblock %}