{% extends 'app/app.twig' %}

{% block body %}
    <div class="contenedor" style="display: block"> 
        <div style="margin: 0 auto; width: 100%; text-align: center; padding: 48px 0">Página no encontrada</div>
    </div>
{% endblock %}