{% extends 'app/app.twig' %}

{% block head %}
    <link rel="stylesheet" href="/2022/dist/css/politica.css"/>
{% endblock %}

{% block body %}
    <div class="contenedor"> 
       <aside class="info-politica">
            <div class="center-head">
                <div class="center-title">
                    <p class="cu-h2">Política de Cookies</p>
                </div>
                <div class="center-hr">
                    <hr class="hr-red"/>
                </div>
            </div>
            <div class="tabs-title">
                <p class="tab-h1">¿Qué es una cookie?</p>
            </div>
            <div class="tabs-txt">                
                <p class="titula-txt">
                    Una cookie es un fichero de texto inofensivo que se almacena en su navegador cuando visita casi cualquier página web. La utilidad de la cookie es que la web sea capaz de recordar su visita cuando vuelva a navegar por esa página. Aunque mucha gente no lo sabe las cookies se llevan utilizando desde hace 20 años, cuando aparecieron los primeros navegadores para la World Wide Web.
                </p>
                <br/>  
                
            </div>            
            <div class="tabs-title">
                <p class="tab-h1">¿Qué NO es una cookie?</p>
            </div>
            <div class="tabs-txt">                
                <p class="titula-txt">
                    No es un virus, ni un troyano, ni un gusano, ni spam, ni spyware, ni abre ventanas pop-up.
                </p>
                <br/>                
            </div>
            <div class="tabs-title">
                <p class="tab-h1">¿Qué información almacena una cookie?</p>
            </div>
            <div class="tabs-txt">                
                <p class="titula-txt">
                    Las cookies no almacenan información sensible sobre usted, como tarjetas de crédito o datos bancarios, fotografías, su DNI o información personal, etc. Los datos que guardan son de carácter técnico, preferencias personales, personalización de contenidos, etc.
                </p>
                <br/>      
                <p class="titula-txt">
                    El servidor web no le asocia a usted como persona si no a su navegador web. De hecho, si usted navega habitualmente con Internet Explorer y prueba a navegar por la misma web con Firefox o Chrome verá que la web no se da cuenta que es usted la misma persona porque en realidad está asociando al navegador, no a la persona.
                </p><br>          
            </div>            
            
            <div class="tabs-title">
                <p class="tab-h1">¿Qué tipos de cookies existen?</p>
            </div>
            <div class="tabs-txt">     
                <ul class="tabla-titulaciones">
                    <li class="tipo-titulo"><b>Cookies técnicas: </b> Son las más elementales y permiten, entre otras cosas, saber cuándo está navegando un humano o una aplicación automatizada, cuándo navega un usuario anónimo y uno registrado, tareas básicas para el funcionamiento de cualquier web dinámica. </li>                                      
                    <li class="tipo-titulo"><b>Cookies de análisis: </b> Recogen información sobre el tipo de navegación que está realizando, las secciones que más utiliza, productos consultados, franja horaria de uso, idioma, etc. </li>                                   
                    <li class="tipo-titulo"><b> Cookies publicitarias: </b>Muestran publicidad en función de su navegación, su país de procedencia, idioma, etc.</li>                                   
                </ul>
                <br>
            </div>  
            <div class="tabs-title">
                <p class="tab-h1">¿Qué son las cookies propias y las de terceros?</p>
            </div>
            <div class="tabs-txt">
                <p class="titula-txt">
                    Las cookies propias son las generadas por la página que está visitando y las de terceros son las generadas por servicios o proveedores externos como Facebook, Twitter, Google, etc.
                </p>  
                <br>
            </div>  
            
            <div class="tabs-title">
                <p class="tab-h1">¿Qué ocurre si se desactivan las cookies?</p>
            </div> 
            <div class="tabs-txt">                
                <p class="titula-txt">
                    Para que entienda el alcance que puede tener desactivar las cookies le mostramos unos ejemplos: No podrá compartir contenidos de esa web en Facebook, Twitter o cualquier otra red social.
                    El sitio web no podrá adaptar los contenidos a sus preferencias personales, como suele ocurrir en las tiendas online.
                </p>
                <br/>  
                <p class="titula-txt">
                    No podrá acceder al área personal de esa web, como por ejemplo Mi cuenta, o Mi perfil o Mis pedidos.
                    Tiendas online: Le será imposible realizar compras online, tendrán que ser telefónicas o visitando la tienda física si es que dispone de ella.
                </p>         
                <br>
                <p class="titula-txt"> 
                    No será posible personalizar sus preferencias geográficas como franja horaria, divisa o idioma.
                    El sitio web no podrá realizar analíticas web sobre visitantes y tráfico en la web, lo que dificultará que la web sea competitiva.
                </p>         
                <br>
                <p class="titula-txt"> 
                    No podrá escribir en el blog, no podrá subir fotos, publicar comentarios, valorar o puntuar contenidos. La web tampoco podrá saber si usted es un humano o una aplicación automatizada que publica spam.
                    No se podrá mostrar publicidad sectorizada, lo que reducirá los ingresos publicitarios de la web.
                </p>         
                <br>
                <p class="titula-txt"> 
                    Todas las redes sociales usan cookies, si las desactiva no podrá utilizar ninguna red social.
                </p>         
                <br>
            </div>  
            <div class="tabs-title">
                <p class="tab-h1">¿Se pueden eliminar las cookies?</p>
            </div> 
            <div class="tabs-txt">
                <p class="titula-txt">Sí. No sólo eliminar, también bloquear, de forma general o particular para un dominio específico. Para eliminar las cookies de un sitio web debe ir a la configuración de su navegador y allí podrá buscar las asociadas al dominio en cuestión y proceder a su eliminación.</p> 
                <br>                
            </div>
            <div class="tabs-title">
                <p class="tab-h1">Aceptación de cookies.</p>
            </div> 
            <div class="tabs-txt">
                <p class="titula-txt">Si usted sigue navegando después de haberle informado sobre nuestra Política de cookies entendemos que acepta la utilización de las cookies. </p> 
                <br>                
            </div> 
        </aside>   
        <aside class="formulario"> 
            <div class="tabs-title">
                <p class="tab-h1">¡Quiero Inscribirme!</p>
                <div class="tabs-txt">
                    <p class="titula-txt">Dejanos tus datos para que podemos llamarte y asesorate lo mejor posible en todo lo que necesites. Estamos contigo desde el principio</p> 
                    <br>
                                    
                </div> 
            </div> 
            <iframe frameborder="0" style="height:1150px;width:99%;border:none;" alt="AUCAL Bussines School Formulario"  
            src='https://formulario.aucal.edu/aucalbusinessschool/form/FormularionuevaWebAUCAL/formperma/7-ULZDtrn9jf9iR3AmWEYjBwVmxtAmdLMjZk9fTGaYg'>
            </iframe>      
        </aside>
    </div>
{% endblock %}