{% extends 'app/app.twig' %}

{% block head %}
    <meta name="description" content="Completa el siguiente formulario de postulación a alguna de nuestras becas del Programa Internacional de Ayudas. Una vez que completes todo el formulario, nos pondremos en contacto contigo."/>
    <link rel="stylesheet" href="/2022/dist/css/becas-formularios.css"/>
{% endblock %}

{% block body %}
    <div class="contenedor"> 
        <aside class="formulario-becas">
            <div class="center-head">
                <div class="center-title form-title">
                    <p class="blog-h2">Solicita tu beca</p>
                </div>
                <div class="center-hr">
                    <hr class="hr-red"/>
                </div>
            </div>
            <iframe frameborder="0" style="height:2200px;width:99%;border:none;" alt="AUCAL Bussines School Calidad Formulario" 
            src='https://formulario.aucal.edu/aucalbusinessschool/form/Registrodemembresadelabiblioteca1/formperma/RghW4Qy-waYBgOpHxDrLRaA_3msWn1pe4kBj1OkYpqQ'></iframe>
        </aside>  
    </div>
{% endblock %}