{% extends 'app/app.twig' %}

{% block body %}
    <div class="contenedor" style="display: block"> 
        <div style="margin: 2em auto; width: 80%; text-align: center; padding: 48px 0">
            <p style="color: #BE0032; font-size: 50px; margin-top: 1em; font-weight: bold;"> Lo sentimos! </p>
            <p style="font-size: 25px; margin-top: 1em;">Ha habido un error en la solicitud. Por favor inténtelo nuevamente. </p>
            <br/>
            <p style="font-size: 25px; margin-top: 0.5em;"> <a href="https://www.aucal.edu/" alt="Aucal Business School | Másteres Oficiales y Cursos Online">Te invitamos a que sigas navegando en nuestra renovada web</a></p>
        </div>
    </div>
{% endblock %}