<!DOCTYPE html>
<html lang="es">
	<head>
		<link rel="icon" href="/2022/dist/images/icons/favicon.ico" type="image/x-icon"/>
		<meta name="viewport" content="initial-scale=1">

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PTVGG3FH');</script>
		<!-- End Google Tag Manager -->

		<!-- Google Tag Manager
		<script>
			(function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
                var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-5FL7FKB');
		</script>
		End Google Tag Manager -->

		<!-- Fuentes -->
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link
		href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"/>
		<!-- Iconos -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>
		<!-- Hojas de estilo -->
		<link rel="stylesheet" href="/2022/dist/css/styles.css"/>
		<link rel="stylesheet" href="/2022/dist/css/home.css"/>
		<link rel="stylesheet" href="/2022/dist/css/talento.css"/>
		<link rel="stylesheet" href="/2022/dist/css/carrusel_noticias.css"/>
		<link rel="stylesheet" href="/2022/dist/css/carrusel_unis.css">
		<link rel="stylesheet" href="/2022/dist/css/footer.css"/>
		<link
		rel="stylesheet" href="/2022/dist/css/header.css"/>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38223326-35"></script>
		<!--Script web-->
		<script defer src="/2022/dist/js/main.js"></script>
		{% block head %}{% endblock %}
		<!--FACEBOOK-->
		<!-- Meta Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) 
                return;

                n = f.fbq = function () {
                    n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (! f._fbq) 
                f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '840542506635014');
            fbq('track', 'PageView');
		</script>
			<noscript>
		<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=840542506635014&ev=PageView&noscript=1" ;/> </noscript>
		<!-- End Meta Pixel Code -->

		<script>
			var w = window;
var p = w.location.protocol;
if (p.indexOf("http") < 0) {
p = "http" + ":";
}
var d = document;
var f = d.getElementsByTagName('script')[0],
s = d.createElement('script');
s.type = 'text/javascript';
s.async = false;
if (s.readyState) {
s.onreadystatechange = function () {
if (s.readyState == "loaded" || s.readyState == "complete") {
s.onreadystatechange = null;
try {
loadwaprops("3zb2aaac94b5e080484294f7c329551fdb", "3zae60ec5528d97e1d4960a5a794de4450", "3z9281b998a3b76f6a5e6677f035806612d7ebf4949300659a485a590f9b0423a8", "3z740a324e4a5d112136467c603e855060", "0.0");
} catch (e) {}
}
};
} else {
s.onload = function () {
try {
loadwaprops("3zb2aaac94b5e080484294f7c329551fdb", "3zae60ec5528d97e1d4960a5a794de4450", "3z9281b998a3b76f6a5e6677f035806612d7ebf4949300659a485a590f9b0423a8", "3z740a324e4a5d112136467c603e855060", "0.0");
} catch (e) {}
};
};
s.src = p + "//ma.zoho.eu/hub/js/WebsiteAutomation.js";
f.parentNode.insertBefore(s, f);
		</script>

		<!-- Start Insights Pixel -->
		<script>
			var tD = (new Date).toISOString().slice(0, 10);
window.sfpid = 923246;
var u = "https://app.serviceform.com/analytics/sf-pixel.js?" + tD,
t = document.createElement("script");
t.setAttribute("type", "text/javascript"),
t.setAttribute("src", u),
t.async = !0,
(document.getElementsByTagName("head")[0] || document.documentElement).appendChild(t);
		</script>
		<!-- End Insights Pixel -->

	
	</head>
	<body style="margin-top: 10px;">
		
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTVGG3FH"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<!-- Google Tag Manager (noscript) 
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FL7FKB" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		 End Google Tag Manager (noscript) -->

		<!-- LinkedIn -->
		<noscript>
			<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=111038&fmt=gif" ;/>
		</noscript>
		<!-- End LinkedIn -->
		
		{% block body %}{% endblock %}
		{% include 'app/footer-landing.twig' %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<!-- Event snippet for Leads Adwords conversion page -->
			<script>
window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
// Google Analytics
gtag('js', new Date());
gtag('config', 'UA-38223326-35');
// Leads Adwords
gtag('event', 'conversion', {'send_to': 'AW-982947947/A-sLCIX_zgUQ67Da1AM'});
// Facebook

// Twitter universal website tag code
!function (e, t, n, s, u, a) {
e.twq || (s = e.twq = function () {
s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
}, s.version = '1.1', s.queue =[], u = t.createElement(n), u.async =! 0, u.src = '//static.ads-twitter.com/uwt.js', a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
}(window, document, 'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init', 'nv4ll');
twq('track', 'PageView');
// End Twitter universal website tag code
		</script>
		<!-- LinkedIn -->
			<script type="text/javascript"> _linkedin_partner_id = "111038";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
		</script>
		<script type="text/javascript">
			(function (l) {
if (! l) {
window.lintrk = function (a, b) {
window.lintrk.q.push([a, b])
};
window.lintrk.q = []
}
var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";
b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";;
s.parentNode.insertBefore(b, s);
})(window.lintrk);
		</script>

		<script type="text/javascript" src='https://crm.zoho.eu/crm/javascript/zcga.js'></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5772b7ffea916da048a26d37/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
</script>
<!--End of Tawk.to Script-->

	</body>
</html>
