<div class="contenedor">
    <aside class="carrusel-unis">
        <div class="cu-head center-head">
            <div class="center-title">
                <p class="cu-h2">UNIVERSIDADES COLABORADORAS</p>
            </div>
            <div class="center-hr">
                <hr class="hr-red"/>
            </div>
        </div>
        <div class="cu-carrousel">
            {# <div class="card-unis" id="pegaso">  
                <img src="/2022/dist/images/logos/logo-pegaso-u_online.png" alt="AUCAL Bussines Universidad Colaboradora Pegaso" class="logo-uni pegaso">
            </div> 
            <div class="card-unis" id="school">  
                <img src="/2022/dist/images/logos/logo-school.png" alt="AUCAL Bussines Universidad Colaboradora School" class="logo-uni school">
            </div> #}
             <div class="card-unis" id="ecampus">
                <img src="/2022/dist/images/logos/logo-universidad-ecampus.png" alt="AUCAL Bussines Universidad Colaboradora Nebrija" class="logo-uni ecampus">
            </div>
            <div class="card-unis" id="nebrija">
                <img src="/2022/dist/images/logos/logo-nebrija_sm.png" alt="AUCAL Bussines Universidad Colaboradora Nebrija" class="logo-uni nebrija">
            </div>
            <div class="card-unis" id="ufv">    
                <img src="/2022/dist/images/logos/logoufv.jpg" alt="AUCAL Bussines Universidad Colaboradora UFV" class="logo-uni ufv">                   
            </div>
        </div>           
    </aside>
        <footer class="footer">
            <div class="logos-footer">
                <div class="center-head head-footer">
                    <div class="center-title">
                        <p class="footer-title" style="color: #000;">Acreditaciones</p>
                    </div>
                    <div class="center-hr">
                        <hr class="hr-red"/>
                    </div>
                </div>
                <div class="empresas-footer">                   
                    <div class="logo-sello">
                        <img src="/2022/dist/images/logos/euphe.png" alt="AUCAL Bussines Acreditraciones Euphe" class="logo-sello logo-sello-euphe">
                    </div>
 		            <div class="logo-sello">
                        <img src="/2022/dist/images/logos/aneca.png" alt="AUCAL Bussines Acreditraciones Aneca" class="logo-sello logo-sello-aneca">
                    </div>
                    <div class="logo-sello">
                        <img src="/2022/dist/images/logos/aeen.png" alt="AUCAL Bussines Acreditraciones AEEN" class="logo-sello logo-sello-aeem">
                    </div>
                    <div class="logo-sello">
                        <img src="/2022/dist/images/logos/aeen_certificado.png" alt="AUCAL Bussines Acreditraciones aeen Certificado" class="logo-sello">
                    </div>
                    <div class="logo-sello">
                        <img src="/2022/dist/images/logos/ministerio-de-justicia.png" alt="AUCAL Bussines Acreditraciones Ministerio de Justicia" class="logo-sello">
                    </div>
                    <div class="logo-sello">
                        <img src="/2022/dist/images/logos/ministerio-del-Interior.png" alt="AUCAL Bussines Acreditraciones Ministerio del Interior" class="logo-sello">
                    </div>
                </div>
            </div>            
            <div class="copyright" style="margin-top: 0px;">
                <p>AUCAL BUSINESS SCHOOL 2023<a href="https://iposos.com" target="_blank" style="color: white;cursor: default;">.</a> TODOS LOS DERECHOS RESERVADOS</p>
            </div>
        </footer>
        <script type="text/javascript" id="zsiqchat">
            var $zoho=$zoho = {};
            $zoho.salesiq = $zoho.salesiq = {widgetcode: "c53d7482b41797ab8482f2e2d99a7b632bed10bbe1e316f7c2a6007c8108aae17da893e836d3151e1af94617d1404e5f", values:{},ready:function(){}};
            var d=document;s=d.createElement("script");
            s.type="text/javascript";s.id="zsiqscript";
            s.defer=true;s.src="https://salesiq.zoho.eu/widget";
            t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
	</script>
</div>