<div class="contenedor">
    <aside class="carrusel-unis">
        <div class="cu-head center-head">
            <div class="center-title">
                <p class="cu-h2">UNIVERSIDADES COLABORADORAS</p>
            </div>
            <div class="center-hr">
                <hr class="hr-red"/>
            </div>
        </div>
        <div class="cu-carrousel" style="justify-content: center; display: flex;">
            {# <div class="card-unis" id="pegaso">  
                <img src="/2022/dist/images/logos/logo-pegaso-u_online.png" alt="AUCAL Bussines Universidad Colaboradora Pegaso" class="logo-uni pegaso">
            </div> 
            <div class="card-unis" id="school">  
                <img src="/2022/dist/images/logos/logo-school.png" alt="AUCAL Bussines Universidad Colaboradora School" class="logo-uni school">
            </div>
            <div class="card-unis" id="ufv">    
                <img src="/2022/dist/images/logos/logoufv.jpg" alt="AUCAL Bussines Universidad Colaboradora UFV" class="logo-uni ufv">                   
            </div> #}
             <div class="card-unis" id="ecampus">
                <img src="/2022/dist/images/logos/logo-universidad-ecampus.png" alt="AUCAL Bussines Universidad Colaboradora Nebrija" class="logo-uni ecampus">
            </div>
            <div class="card-unis" id="nebrija">
                <img src="/2022/dist/images/logos/logo-nebrija_sm.png" alt="AUCAL Bussines Universidad Colaboradora Nebrija" class="logo-uni nebrija">
            </div>
            
        </div>           
    </aside>
        <footer class="footer">
            <div class="logos-footer">
                <div class="center-head head-footer">
                    <div class="center-title">
                        <p class="footer-title" style="color: #000;">Acreditaciones</p>
                    </div>
                    <div class="center-hr">
                        <hr class="hr-red"/>
                    </div>
                </div>
                <div class="empresas-footer">                   
                    <div class="logo-sello">
                        <img src="/2022/dist/images/logos/euphe.png" alt="AUCAL Bussines Acreditraciones Euphe" class="logo-sello logo-sello-euphe">
                    </div>
 		            {# <div class="logo-sello">
                        <img src="/2022/dist/images/logos/aneca.png" alt="AUCAL Bussines Acreditraciones Aneca" class="logo-sello logo-sello-aneca">
                    </div> #}
                    <div class="logo-sello">
                        <img src="/2022/dist/images/logos/aeen.png" alt="AUCAL Bussines Acreditraciones AEEN" class="logo-sello logo-sello-aeem">
                    </div>
                    <div class="logo-sello">
                        <img src="/2022/dist/images/logos/aeen_certificado.png" alt="AUCAL Bussines Acreditraciones aeen Certificado" class="logo-sello">
                    </div>
                    <div class="logo-sello">
                        <img src="/2022/dist/images/logos/ministerio-de-justicia.png" alt="AUCAL Bussines Acreditraciones Ministerio de Justicia" class="logo-sello">
                    </div>
                    <div class="logo-sello">
                        <img src="/2022/dist/images/logos/ministerio-del-Interior.png" alt="AUCAL Bussines Acreditraciones Ministerio del Interior" class="logo-sello">
                    </div>
                </div>
            </div>
            <div class="logo-footer">
                <img src="/2022/dist/images/logos/AUCAL_negativo.png" alt="AUCAL Bussines Logo" class="footer-logo">
            </div>
            <div class="redes-footer">
                <a href="https://www.instagram.com/aucalformaciones" class="a-footer insta" target="_blank" alt="AUCAL Bussines Redes Sociales Instagram">
                    <i class="fa fa-instagram" alt="AUCAL Bussines icono Redes Sociales Instagram"></i>
                </a>
                <a href="https://www.facebook.com/aucalformacion" class="a-footer facb" target="_blank" alt="AUCAL Bussines Redes Sociales Facebook">
                    <i class="fa fa-facebook-f" alt="AUCAL Bussines icono Redes Sociales Facebook"></i>
                </a>
                <a href="https://www.linkedin.com/school/aucal-business-school/" class="a-footer linked" target="_blank" alt="AUCAL Bussines Redes Sociales LinkendIn">
                    <i class="fa fa-linkedin" alt="AUCAL Bussines icono Redes Sociales LinkendIn"></i>
                </a>
            </div>
            
            <div class="enlaces-footer">
                <a href="/sobre-aucal" class="a-footer nav-links" alt="AUCAL Bussines School Nosotros">SOBRE AUCAL</a>
                <a href="/oferta-formativa" class="a-footer nav-links" alt="AUCAL Bussines School Oferta Educativa">OFERTA EDUCATIVA</a>
                <a href="/estudiar-en-aucal" class="a-footer nav-links" alt="AUCAL Bussines School Estudiar Aucal">ESTUDIAR EN AUCAL</a>
                <a href="/programa-becas" class="a-footer nav-links" alt="AUCAL Bussines School Programa Becas Programa Descuentos">BECAS Y DESCUENTOS</a>
                <a href="/blog" class="a-footer nav-links" alt="AUCAL Bussines School Blog Noticias">BLOG</a>
                <a href="/contacto" class="a-footer nav-links" alt="AUCAL Bussines School Contacto Sedes Aucal Formulario">CONTACTA</a>
            </div>
            <div class="politicas">
                <a href="/politica-privacidad" class="a-footer" target="_blank" alt="AUCAL Bussines School Politica Privacidad">Política de privacidad</a>
                <a href="/politica-cookies" class="a-footer" target="_blank" alt="AUCAL Bussines School Politica Cookies">Política de cookies</a>
                <a href="/condiciones-de-uso" class="a-footer" target="_blank" alt="AUCAL Bussines School Condiciones Uso">Condiciones de uso</a>
            </div>
            <div class="metodos-pago">
                <a href="https://www.aucal.edu/pagos/plataforma-pagos.php" class="a-footer" target="_blank" alt="AUCAL Bussines School Pagos">
                    <p>Métodos de pago</p>
                    <img src="/2022/dist/images/logos/metodos-pago.png" alt="AUCAL Bussines School Metodos Pago" class="metodos-pago">
                </a>    
                <a href="https://aucal.flywire.com/" target="_blank" alt="AUCAL Bussines School Metodos Pago Flywire">
                    <img src="https://assets.flywire.com/buttons/pay_now_w_flywire_es.svg" alt="AUCAL Bussines School Metodos Pago Flywire" style="margin-right: 25px;"/>
                </a>  
                {# <a href="#" target="_blank" alt="AUCAL Bussines School Metodos Pago Flywire" target="_blank">
                    <img src="/2022/dist/images/logos/logo-money-exchange.png" alt="AUCAL Bussines School Metodos Pago Money Exchange" style="margin-right: 25px; height: 70px; "/>
                </a> #}
            </div>
            <div class="search-footer">
                <input type="search" name="search-input" id="search-input" class="search-input" placeholder="Buscar">
                <a href="#" class="a-footer search-a" alt="AUCAL Bussines School Buscador">
                    <i class="fa fa-search" alt="AUCAL Bussines School icono Buscador"></i>
                </a>            
            </div>
            <div class="copyright">
                <p>AUCAL BUSINESS SCHOOL 2024. TODOS LOS DERECHOS RESERVADOS</p>
            </div>
        </footer>
        <script type="text/javascript" id="zsiqchat">
            var $zoho=$zoho = {};
            $zoho.salesiq = $zoho.salesiq = {widgetcode: "c53d7482b41797ab8482f2e2d99a7b632bed10bbe1e316f7c2a6007c8108aae17da893e836d3151e1af94617d1404e5f", values:{},ready:function(){}};
            var d=document;s=d.createElement("script");
            s.type="text/javascript";s.id="zsiqscript";
            s.defer=true;s.src="https://salesiq.zoho.eu/widget";
            t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
	</script>
</div>