{% extends 'app/app.twig' %}
{% block head %}
    <meta name="description" content="Cursos Técnicos online de corta duración reconocidos y válidos en toda la UE. Consigue tu titulación oficial."/>
    <meta property="og:image" content="https://www.aucal.edu/2022/dist/images/cursos-tecnicos-gestion-pymes-thun.png">
    <link rel="stylesheet" href="/2022/dist/css/master-cursos.css"/>
{% endblock %}

{% block body %}
    <div class="contenedor"> 
        <aside class="cursos-banner banner-pymes">            
            <div class="cursos-title-banner center-head">
                <div class="cursos-title center-title">
                    <p class="h2-cursos">CURSOS TÉCNICOS</p>
                </div>
                <div class="cursos-hr center-hr">
                    <hr class="hr-red"/>
                </div>
                <div class="cursos-txt center-title">
                    <p class="h1-cursos">Experto en Gestión de Pymes</p>
                </div>
            </div>      
        </aside>
        <aside class="cursos-tabs">
            <div class="tabs-container">
                <div class="tabs-head tabs-head-responsive">
                    <div class="tabs-title">
                        <p class="tab-h1">Estudia el Curso Técnico de Experto en Gestión de Pymes</p>
                    </div>
                    <div class="tabs-script">
                        <div class="tab-txt">
                            <p class="tab-h2-big">
                                25 ECTS | 6 meses | Online <br/>
                                Título Propio universitario de la <br/>
                                Universidad Antonio de Nebrija.  
                            </p>
                        </div>
                        <div class="tab-txt-btn">
                            <a href="#formSolicitar" class="btn-yellow" alt="AUCAL Bussines School Matricula Inscripcion">Matricúlate ahora</a>
                        </div>
                    </div>
                </div> 
                <div class="tabs-list">
                    <ul class="tabs-barra">
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'presentacion')">
                            <span class="cursos-tablink">PRESENTACIÓN</span>                                                
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'informacion')">
                            <span class="cursos-tablink">INFORMACIÓN</span>                        
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'planEstudios')">
                             <span class="cursos-tablink">PLAN DE ESTUDIOS</span>
                             
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'titulacion')">
                            <span class="cursos-tablink">TITULACIÓN</span>
                            
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'materiales')">
                            <span class="cursos-tablink">MATERIALES</span>                        
                        </li>
                    </ul>
                </div>  
                <div class="tabs-head tabs-head-principal">
                    <div class="tabs-title">
                        <p class="tab-h1">Estudia el Curso Técnico de Experto en Gestión de Pymes</p>
                    </div>
                    <div class="tabs-script">
                        <div class="tab-txt">
                            <p class="tab-h2-big">
                                25 ECTS | 6 meses | Online <br/>
                                Título Propio universitario de la <br/>
                                Universidad Antonio de Nebrija.                                 
                            </p>
                        </div>
                        <div class="tab-txt-btn">
                            <a href="#formSolicitar" class="btn-yellow" alt="AUCAL Bussines School Matricula Inscripcion">Matricúlate ahora</a>
                        </div>
                    </div>
                </div>   
                <div class="tabs-cuerpo">
                    <div class="tabs-widgets">
                        <div class="tab-sec">
                            <ul class="tab-sec-list">
                                <li class="tab-link" href="javascript:void(0)"onclick="changeTab(event,'presentacion')" >
                                    <p class="tab-sec-txt">PRESENTACIÓN</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)"  onclick="changeTab(event,'informacion')">
                                    <p class="tab-sec-txt">INFORMACIÓN</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)" onclick="changeTab(event,'planEstudios')">
                                    <p class="tab-sec-txt">PLAN DE ESTUDIOS</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)" onclick="changeTab(event,'titulacion')">
                                    <p class="tab-sec-txt">TITULACIÓN</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)" onclick="changeTab(event,'materiales')">
                                    <p class="tab-sec-txt">MATERIALES</p>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-program">
                            <div class="tabs-program-img">
                                <img src="/2022/dist/images/oferta/portada-tecnico-gestion-pymes.PNG" alt="AUCAL Bussines School Portada Curso Tecnico Experto Gestion Empresas Pymes" class="image-program">
                            </div>
                            <div class="tabs-program-pdf btn-red-normal">
                                <a href="/2022/dist/pdf/AUCAL-dossier-tecnico-experto-gestion-pymes.pdf" class="btn-red-normal" target="_blank" alt="AUCAL Bussines School Programa Curso Tecnico Experto Gestion Empresas Pymes">
                                    <p class="btn-txt-descarga">DESCARGAR PROGRAMA</p>
                                    <img src="/2022/dist/images/icons/descarga-blanco.png" alt="AUCAL Bussines School Descarga Curso Tecnico Experto Gestion Empresas Pymes" class="btn-descarga-blanco">                                            
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs">
                        <!-- PRESENTACION --> 
                        <div class="presentacion tab" id="presentacion">                             
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Presentación</p>
                                </div>
                                <div class="tabs-txt">
                                    <p class="presentacion-txt">
                                        El <b>Curso de Experto en Gestión de Pymes,</b> es un título propio de la Universidad Antonio de Nebrija, 
                                        con una carga lectiva de 25 ECTS, ayudará al alumno a conocer en profundidad el funcionamiento de una 
                                        pequeña o mediana empresa, dotando de los conocimientos necesarios para dirigir y gestionar una compañía, 
                                        con una visión global de todas las áreas de la empresa, con la finalidad de que pueda conseguir 
                                        los mejores resultados y una posición competitiva de la misma.
                                    </p>
                                </div>  
                                <div class="tabs-txt">
                                    <p class="presentacion-txt">
                                        El <b>Curso de Experto en Gestión de Pymes,</b> te prepara para adquirir una visión global y adaptada 
                                        a la operativa de estas empresas. Una formación que te permite adquirir las competencias 
                                        profesionales necesarias para llevar a cabo <b>labores directivas</b> de una forma exitosa y eficiente, 
                                        a partir de sus particularidades laborales, contables, de gestión de equipos o marketing, 
                                        así como conocer cuáles son las distintas formas jurídicas que puede adoptar una sociedad y realizar 
                                        evaluaciones básicas de riesgos y establecer en consecuencia las medidas preventivas adecuadas.
                                    </p>
                                </div>        
                            </div>                                                         
                        </div>
                        <!-- INFORMACION -->
                        <div id="informacion" class="informacion tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Información</p>
                                </div>                                
                                <div class="tabs-title">
                                    <p class="tab-h2">Objetivos</p>
                                </div>
                                <div class="tabs-txt">
                                    <ul class="tabla-titulaciones">
                                        <li class="tipo-titulo">
                                            Proporcionar una visión completa de la gestión, administración y dirección empresarial. Se profundiza en la gestión contable, laboral y fiscal, sin descuidar la gestión financiera y visión estratégica aplicable a marketing.                                        </li>
                                        <li class="tipo-titulo">
                                            El alumno conocerá los conceptos fundamentales en la Gestión de la Pyme y su proceso de creación.
                                        </li>
                                        <li class="tipo-titulo">
                                            Conocerá la gestión de stocks, sus problemas y soluciones. Tratará de minimizar los costes de stock y el aprovisionamiento.
                                        </li>
                                        <li class="tipo-titulo">
                                            El alumno dominará los aspectos relacionados con la gestión laboral, gestión contable, gestión financiera y gestión fiscal.
                                        </li>
                                        <li class="tipo-titulo">
                                            Tomará decisiones de exportar o importar obteniendo la mejor decisión para la empresa.
                                        </li>
                                    </ul>                                                                                                             
                                </div>
                            </div>
                        </div>
                        <!-- PLAN ESTUDIOS -->
                        <div id="planEstudios" class="plan-estudios tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Asignaturas</p>
                                </div>
                                <div class="tabs-title">
                                    <p class="tab-h2">MATERIAS COMUNES (obligatorias)</p>
                                </div>                               
                                <div class="plan-estudios-tabla">
                                    <ul class="agignaturas-tabla">
                                        <li class="tabla-seccion">
                                            <span class="tabla-title"> ASIGNATURAS </span>
                                            <ul class="tabla-detalle">                                                
                                                <li class="tabla-titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Creación de Empresas</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio ">
                                                        <li class="titulo-descript">Contabilidad</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Gestión de personal</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Financiación de la Empresa </li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Facturaplus</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Dirección y Gestión de Planes de Marketing</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript descript-bold">Habilidades Directivas</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript descript-bold">Prevención de Riesgos Laborales</li>
                                                    </ul>
                                                </li>                                                
                                            </ul>
                                        </li>                                        
                                    </ul>
                                </div>                                
                            </div>
                        </div>
                        <!-- TITULACION -->
                        <div id="titulacion" class="titulacion tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Titulación</p>
                                </div>
                                <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                        TITULACIÓN UNIVERSIDAD ANTONIO DE NEBRIJA
                                    </p>
                                </div>
                                <div class="tabs-title">
                                    <p class="tab-h2">Mención: "Experto en Gestión de Pymes"</p>
                                </div>
                                <div class="tabs-img">
                                    <img src="/2022/dist/images/diploma-NEBRIJA.jpg" alt="AUCAL Bussines School Diploma Curso Tecnico Experto Gestion Empresas Pymes Nebrija" class="img-diploma">                                    
                                </div>
                                <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                        TITULACIÓN PROPIA AUCAL BUSINESS SCHOOL
                                    </p>
                                </div>
                                <div class="tabs-title">
                                    <p class="tab-h2">Mención: "Curso Gestión de Pymes"</p>
                                </div>
                                <div class="tabs-img">
                                    <img src="/2022/dist/images/diploma-AUCAL.jpg" alt="AUCAL Bussines School Diploma Curso Tecnico Experto Gestion Empresas Pymes AUCAL" class="img-diploma">                                    
                                </div>
                            </div>
                        </div>
                        <!-- MATERIALES -->
                        <div id="materiales" class="materiales tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Materiales</p>
                                </div>
                                <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                        El alumno dispondrá del material de estudio necesario para la realización de la formación en la plataforma virtual.                                    
				    </p>
                                </div> 
				<div class="tabs-img">
                                    <img src="/2022/dist/images/material_aucal.png" alt="AUCAL Bussines School Materiales Curso Tecnico Experto Gestion Empresas Pymes" class="materiales-img"/>
                                </div>
                            </div>
                        </div>
                    </di> <!-- TABS -->
                </div> <!-- CUERPO -->
            </div>
        </aside>
        <aside class="coordinador-perfil">
            <!-- BIOGRAFIA COORDINADOR -->
            <div class="tabs-banner-bottom">
                <div class="banner-bottom-img">
                    <img src="/2022/dist/images/coordis/julio-perez.png" alt="coordinador-aucal-fomacion" class="img-coordinador"/>
                </div>
                <div class="banner-bottom-txt">
                    <div class="tabs-title">
                        <p class="tab-h2">Coordinador del Curso</p>
                        <p class="tab-h1">Julio Pérez Peláez</p>
                    </div>
                    <div class="tabs-txt">
                        <p class="banner-bottom-descript">
                            Ingeniero de Caminos, Canales y Puertos; Grado en Ingeniería Mecánica; 
                            Máster en Prevención de Riesgos Laborales; Máster en Gestión de Calidad, 
                            Auditor Interno y Medio Ambiente. Cuenta con más de 15 años de experiencia 
                            en el sector de la gestión de proyectos, siendo además docente universitario 
                            en el área de la prevención de riesgos laborales.
                        </p>
                    </div>
                </div>                            
            </div>
            <!-- PERFIL ALUMNO Y DOCUMENTACION -->   
            <div class="ficha-master">
                <div class="perfil-alumno ficha-dropdown">
                    <div class="drop-title">
                         <div>
                            <button class="dropbtn" onclick="show_hide(event, 'perfil')"> 
                                <img src="/2022/dist/images/icons/drop-down-rojo.png" alt="AUCAL Bussines School" class="icono-down"/>
                              <!--  <img src="/2022/dist/images/icons/drop-left-rojo.png" alt="AUCAL Bussines School" class="icono-left hidden"/> -->                                          
                            </button>
                         </div>
                        <div>
                            <p class="tab-h2">Perfil del alumno</p>   
                        </div>                     
                    </div>
                    <div class="ficha-dropdown-txt" id="perfil">
                        <p class="informacion-txt">
                            Está dirigido a profesionales de cualquier sector que deseen actualizar sus conocimientos y a estudiantes que quieran profundizar en las diferentes áreas empresariales.
                        </p>                                          
                    </div>
                </div>
                <div class="documentacion ficha-dropdown">
                    <div class="drop-title">
                        <div>
                           <button class="dropbtn" onclick="show_hide(event, 'documentacion')"> 
                               <img src="/2022/dist/images/icons/drop-down-rojo.png" alt="AUCAL Bussines School" class="icono-down"/>
                             <!--  <img src="/2022/dist/images/icons/drop-left-rojo.png" alt="AUCAL Bussines School" class="icono-left hidden"/> -->                                          
                           </button>
                        </div>
                       <div>
                           <p class="tab-h2">Documentación</p>   
                       </div>                     
                   </div>
                    <div class="ficha-dropdown-txt" id="documentacion">
                        <p class="informacion-txt">
                            No existe ningún requisito mínimo para estudiar esta formación.
                        </p>                                                            
                    </div>
                </div>
            </div>   
        </aside>
        <aside class="banner-azul-right">
            <div class="azul-right-img img-master"></div> 
            <div class="azul-right-txt">
               <div class="azul-right-title">
                    <p class="h2-azul-right">¿Quieres conocer las becas que tenemos en AUCAL?</p>
                </div>
                <div class="azul-right-hr">
                    <hr class="hr-red"/>
                </div>
                <div class="azul-right-descript">
                    <p class="p-zul-right">
                        Descubre nuestras becas nacionales e internacionales <br/>
                        <b>de hasta el 50%. ¡Inscríbete ahora!</b>
                    </p>
                </div>
            </div>
            <div class="azul-right-btn">
                <a href="/programa-becas" class="btn-border" alt="AUCAL Bussines School Programa Becas">VER BECAS
                </a>
            </div>                     
        </aside>         
        <aside class="titulo-fomulario" id="formSolicitar">
            <div class="becas-head center-head">
                <div class="title-center">
                    <p class="becas-h1">Formulario de solicitud</p>
                </div>
                <div class="center-hr">
                    <hr class="hr-red">
                </div>
            </div>
            <div class="becas-title">
                <p class="black-h1-big">
                    Déjanos tus datos y escribe tu consulta con la ayuda que deseas solicitar. Contactaremos contigo lo
                    antes posible para asesorate lo mejor posible en todo lo que necesites. 
                </p>
            </div>
        </aside>
        <aside class="formulario">            
            <iframe frameborder="0" style="height:1150px;width:99%;border:none;" 
            src='https://formulario.aucal.edu/aucalbusinessschool/form/FormularionuevaWebAUCAL/formperma/7-ULZDtrn9jf9iR3AmWEYjBwVmxtAmdLMjZk9fTGaYg'
	     alt="AUCAL Bussines School Formulario Inscripcion">
            </iframe>  
        </aside>
    </div>
{% endblock %}