{% extends 'app/app.twig' %}
{% block head %}
    <meta name="description" content="Matricúlate en nuestro Máster en Psicopedagogía y mejora tus posibilidades laborales, tanto en el sector público como en el privado. ¡Solicita información!"/>
    <meta property="og:image" content="https://www.aucal.edu/2022/dist/images/master-psicopedagogia-thun.png">
    <link rel="stylesheet" href="/2022/dist/css/master-cursos.css"/>
{% endblock %}

{% block body %}
    <div class="contenedor">
        <aside class="cursos-banner banner-psicopedagogia">            
            <div class="cursos-title-banner center-head">
                <div class="cursos-title center-title">
                    <p class="h2-cursos">MÁSTERES OFICIALES</p>
                </div>
                <div class="cursos-hr center-hr">
                    <hr class="hr-red"/>
                </div>
                <div class="cursos-txt center-title">
                    <p class="h1-cursos">Máster Universitario en Orientación Educativa y Psicopedagogía</p>
                </div>
            </div>      
        </aside>
        <aside class="cursos-tabs">
            <div class="tabs-container">
                <div class="tabs-head tabs-head-responsive">
                    <div class="tabs-title">
                        <p class="tab-h1">Estudia el Máster Universitario en Máster Universitario en Orientación Educativa y Psicopedagogía</p>
                    </div>
                    <div class="tabs-script">
                        <div class="tab-txt">
                            <p class="tab-h2-big">
                                60 ECTS | 9 meses | Online <br/>
                                Título Oficial de Universidad of Management - Universitá LUM <br/>
                                Título propio Aucal
                            </p>
                        </div>
                        <div class="tab-txt-btn">
                            <a href="https://formulario.aucal.edu/aucalbusinessschool/form/Solicituddecurso/formperma/QQmW1lAAqnFEUwcK0dnScLHFPwCuXaT5TdsO7n3Ro9E" class="btn-yellow" alt="AUCAL Bussines School Matricula Inscripcion" target="_blank">Hoja de Admisión</a>
                        </div>
                    </div>
                </div> 
                <div class="tabs-list">
                    <ul class="tabs-barra">
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'presentacion')">
                            <span class="cursos-tablink">PRESENTACIÓN</span>                                                
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'informacion')">
                            <span class="cursos-tablink">INFORMACIÓN</span>                        
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'planEstudios')">
                             <span class="cursos-tablink">PLAN DE ESTUDIOS</span>
                             
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'titulacion')">
                            <span class="cursos-tablink">TITULACIÓN</span>
                            
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'materiales')">
                            <span class="cursos-tablink">MATERIALES</span>                        
                        </li>
                    </ul>
                </div>  
                <div class="tabs-head tabs-head-principal">
                    <div class="tabs-title">
                        <p class="tab-h1">Estudia el Máster Universitario en Orientación Educativa y Psicopedagogía</p>
                    </div>
                    <div class="tabs-script">
                        <div class="tab-txt">
                            <p class="tab-h2-big">
                                60 ECTS | 9 meses | Online <br/>
                                Título Oficial de Universidad of Management - Universitá LUM <br/>
                                Título propio Aucal
                            </p>
                        </div>
                        <div class="tab-txt-btn">
                            <a href="https://formulario.aucal.edu/aucalbusinessschool/form/Solicituddecurso/formperma/QQmW1lAAqnFEUwcK0dnScLHFPwCuXaT5TdsO7n3Ro9E" class="btn-yellow" alt="AUCAL Bussines School Matricula Inscripcion" target="_blank">Hoja de Admisión</a>
                        </div>
                    </div>
                </div>
                <div class="tabs-cuerpo">
                    <div class="tabs-widgets">
                        <div class="tab-sec">
                            <ul class="tab-sec-list">
                                <li class="tab-link" href="javascript:void(0)"onclick="changeTab(event,'presentacion')" >
                                    <p class="tab-sec-txt">PRESENTACIÓN</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)"  onclick="changeTab(event,'informacion')">
                                    <p class="tab-sec-txt">INFORMACIÓN</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)" onclick="changeTab(event,'planEstudios')">
                                    <p class="tab-sec-txt">PLAN DE ESTUDIOS</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)" onclick="changeTab(event,'titulacion')">
                                    <p class="tab-sec-txt">TITULACIÓN</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)" onclick="changeTab(event,'materiales')">
                                    <p class="tab-sec-txt">MATERIALES</p>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-program">
                            <div class="tabs-program-img">
                                <img src="/2022/dist/images/oferta/portada-master-psicopedagogia.png" alt="AUCAL Bussines School Portada Master Orientacion Educativa Intervencion Piscopedagodia" class="image-program">
                            </div>
                            <div class="tabs-program-pdf btn-red-normal">
                                <a href="/2022/dist/pdf/AUCAL-dossier-Master-psicopedagia.pdf" class="btn-red-normal" target="_blank" alt="AUCAL Bussines School Programa Master Orientacion Educativa Intervencion Piscopedagodia">
                                    <p class="btn-txt-descarga">DESCARGAR PROGRAMA</p>
                                    <img src="/2022/dist/images/icons/descarga-blanco.png" alt="AUCAL Bussines School Decarga Master Orientacion Educativa Intervencion Piscopedagodia" class="btn-descarga-blanco">                                            
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs">
                        <!-- PRESENTACION --> 
                        <div class="presentacion tab" id="presentacion">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Presentación</p>
                                </div>
                                <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                        El <b>Máster en Orientación Educativa</b> ha sido diseñado como una titulación 
                                        que capacitará a los futuros profesionales en conocimientos sobre orientación, 
                                        diagnóstico, asesoramiento e intervención psicopedagógica en los alumnos, 
                                        utilizando los métodos y técnicas más apropiadas en la cual los alumnos 
                                        adquirirán una formación integral y multidisciplinar en el ámbito educativo
                                        y psicopedagógico.
                                    </p>
                                </div>    
                                <div class="tabs-txt">
                                    <p class="presentacion-txt">
                                        Se implementará en el alumnado los conocimientos teóricos y prácticos de la <b>orientación educativa e intervención 
                                        psicopedagógica,</b>  formando y desarrollando habilidades en los profesionales, 
                                        de tal forma que les permita <b>adquirir, evaluar e interpretar</b> las diferentes 
                                        teorías, modelos y procesos en el entorno educativo.  El <b>orientación educativa e intervención 
                                        psicopedagógica</b> posee una estructura enfocada a analizar los distintos criterios 
                                        de clasificación de los modelos de orientación, evaluar las aportaciones de 
                                        los modelos de intervención desde una perspectiva comprensiva y de cambio, 
                                        poniendo hincapié en la atención a la diversidad y la <b>educación inclusiva.</b> 
                                        Adquiriendo así la formación específica sobre los roles, funciones y 
                                        competencias que se atribuyen a los profesionales en los entornos educativos, 
                                        formación en otros ámbitos académicos de interés científico y orientación profesional.
                                    </p>
                                    <p class="presentacion-txt">
                                        Este <b>máster en psicopedagogía entregará al alumno</b> posibilidades laborales en 
                                        el contexto de la <b>educación permanente,</b> tanto en el sector público como en el 
                                        privado, en la medida que capacita para el desempeño de diversas funciones en 
                                        el amplio campo de la <b>educación y la orientación.</b>
                                    </p>
                                </div>
                            </div>
                            <div class="tabs-video">
                                <div class="center-title">
                                    <p class="tab-h2">VIDEO DE PRESENTACION</p>
                                </div>
                                <div class="center-hr">
                                    <hr class="hr-red"/>
                                </div>
                                <div class="video-curso">
                                    <iframe width="280" height="180" src="https://www.youtube.com/embed/jyJt3PtypNg"  alt="AUCAL Bussines School Video Master Orientacion Educativa Intervencion Piscopedagodia"></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- INFORMACION --> 
                        <div id="informacion" class="informacion tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Información</p>
                                </div>                                
                                <div class="tabs-title">
                                    <p class="tab-h2">Objetivos</p>
                                </div>
                                <div class="tabs-txt">
                                    <p class="informacion-txt">
                                        El <b>Máster en Psicopatología online</b> es una formación completa para el 
                                        profesional en todas las áreas de conocimientos que conforma el programa 
                                        del master: aspectos metodológicos de investigación en educación, procesos 
                                        de desarrollo cognitivo, emocional, afectivo, social y lingüístico, pasando 
                                        por las funciones ejecutivas, atención, percepción y memoria, la prevención 
                                        e intervención en casos de acoso escolar, intervención psicoeducativa en 
                                        situaciones de <b>maltrato infantil,</b> atención a la diversidad en centros 
                                        educativos, intervención educativa para la mejora de la convivencia y disciplina.
                                    </p>
                                    <p class="informacion-txt">
                                        Finalizando con la prevención de la <b>drogodependencia</b> en la etapa de la 
                                        educación secundaria, detección, diagnóstico y evaluación psicopedagógica, 
                                        elaboración y defensa del trabajo de fin de máster.
                                    </p>
                                    <p class="informacion-txt info-psico">
                                        Los <b>objetivos</b> a lograr por el alumno de este <b>máster en orientación educativa</b> son:
                                    </p>                                    
                                    <ul class="tabla-titulaciones">
                                        <li class="tipo-titulo">
                                            <span class="titulo-title">Diagnosticar</span> y evaluar las necesidades socioeducativas 
                                            a partir de diferentes metodologías y técnicas.
                                        </li>
                                        <li class="tipo-titulo">
                                            <span class="titulo-title">Asesorar</span> y orientar tanto a los profesionales de la 
                                            educación en la organización, el diseño y la implantación de los procesos de enseñanza-aprendizaje.
                                        </li>
                                        <li class="tipo-titulo">
                                            <span class="titulo-title">Aprender a  diseñar</span> y evaluar programas, adaptándolos a 
                                            las necesidades o nivel de los alumnos.
                                        </li>
                                        <li class="tipo-titulo">
                                            <span class="titulo-title">Diseñar</span>protocolos de prevención de acoso escolar, 
                                            llevándolos a cabo si es necesario.
                                        </li>
                                        <li class="tipo-titulo">
                                            Poder<span class="titulo-title">asesorar </span>de manera correcta a 
                                            los alumnos para que sus estudios vayan encaminados hacia una salida 
                                            profesional acorde a sus capacidades reales.
                                        </li>
                                        <li class="tipo-titulo">
                                            <span class="titulo-title">Detectar </span> aquellos casos de maltrato infantil 
                                            que se puedan presentar, sabiendo actuar de la manera adecuada.
                                        </li>
                                        <li class="tipo-titulo">
                                            <span class="titulo-title">Atender</span> de manera correcta a aquellos 
                                            alumnos que presentan necesidades educativas o trastornos de conducta, 
                                            adaptando los contenidos a ellos.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- PLAN ESTUDIOS -->
                        <div id="planEstudios" class="plan-estudios tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Asignaturas</p>
                                </div>
                                <div class="tabs-title">
                                    <p class="tab-h2">MATERIAS COMUNES (obligatorias)</p>
                                </div>                                
                                <div class="plan-estudios-tabla">
                                    <ul class="agignaturas-tabla">
                                        <li class="tabla-seccion">
                                            <span class="tabla-title"> ASIGNATURAS </span>
                                            <span class="tabla-ect">ECTS</span>
                                            <ul class="tabla-detalle">                                               
                                                <li class="tabla-titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Procesos de Desarrollo Cognitivo, Emocional, Afectivo, Social y Linguistico</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio ">
                                                        <li class="titulo-descript">Funciones ejecutivas, atención, percepción y memoria</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Prevención e Intervención en casos de Acoso Escolar</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Intervención Psicoeducativa en situaciones de Maltrato Infantil</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Intervención Educativa para la Mejora de la Convivencia y la Disciplina</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Prevención de la Drogodependencia en la etapa de Educación Secundaria</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript descript-bold">Detección, Diagnóstico y Evaluación Psicopedagógica</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript descript-bold">Metodología de Investigación en Ciencias Sociales</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">TRABAJO FIN DE MÁSTER (TFM)</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="tabla-total">
                                            <span class="tabla-title">TOTALES</span>
                                            <span class="tabla-ect">60</span>
                                        </li>
                                    </ul>
                                </div>                                
                            </div>
                        </div>
                        <!-- TITULACION -->
                        <div id="titulacion" class="titulacion tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Titulación</p>
                                </div>
                                <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                        TITULACIÓN OFICIAL UNIVERSIDAD OF MANAGEMENT - Università LUM
                                    </p>
                                </div>
                                <div class="tabs-title">
                                    <p class="tab-h2">Mención: "Máster Universitario en Orientación Educativa y Psicopedagogía"</p>
                                </div>
                                <div class="tabs-img">
                                    <img src="/2022/dist/images/diploma-SCHOOL.jpg" alt="AUCAL Bussines School Diploma Master Compliance Penal Tecnologico Scholl of Management" class="img-diploma diploma-school">                                    
                                </div>
                                <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                        TITULACIÓN PROPIA AUCAL BUSINESS SCHOOL
                                    </p>
                                </div>
                                <div class="tabs-title">
                                    <p class="tab-h2">Mención: "Máster en Orientación Educativa y Psicopedagogía"</p>
                                </div>          
                                <div class="tabs-img">
                                    <img src="/2022/dist/images/diploma-AUCAL.jpg" alt="AUCAL Bussines School Diploma Propio Aucal Master Orientacion Educativa Intervencion Piscopedagodia" class="img-diploma">                                    
                                </div>
                            </div>
                        </div>
                        <!-- MATERIALES -->
                        <div id="materiales" class="materiales tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Materiales</p>
                                </div>
                                <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                        El alumno dispondrá del material de estudio necesario para la realización de la formación en la plataforma virtual.                                    
				                    </p>
                                </div>                                
				                <div class="tabs-img">
                                    <img src="/2022/dist/images/material_aucal.png" alt="AUCAL Bussines School Material Master Orientacion Educativa Intervencion Piscopedagodia" class="materiales-img"/>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .tabs -->
                </div>    <!-- .tabs-cuerpo -->              
            </div> <!-- tabs-container -->
        </aside>
        <aside class="coordinador-perfil">
            <!-- BIOGRAFIA COORDINADOR -->
            <div class="tabs-banner-bottom">
                <div class="banner-bottom-img">
                    <img src="/2022/dist/images/coordis/jose-carlos-fernandez.jpg" alt="AUCAL Bussines School Coordinador Master Orientacion Educativa Intervencion Piscopedagodia" class="img-coordinador"/>
                </div>
                <div class="banner-bottom-txt">
                    <div class="tabs-title">
                        <p class="tab-h2">Coordinador del Máster</p>
                        <p class="tab-h1">José Carlos Fernández Rodríguez</p>
                    </div>
                    <div class="tabs-txt">
                        <p class="banner-bottom-descript">
                            Licenciado en Filosofía y Ciencias de la Educación. Doctor en Psicología. 
                            Experto en gestión de Personas en Entornos Globales. 
                            Ha trabajado en el sector privado como director de RRHH y Prevención de 
                            Riesgos Laborales por espacio de 18 años. Amplia experiencia en la docencia 
                            ya que ha sido profesor en varias universidades españolas y profesor visitante 
                            en varias universidades latinoamericanas. Ha participado en varios proyectos 
                            de investigación, publicando un gran número de artículos y participando en 
                            congresos nacionales e internacionales. Sus principales áreas de investigación 
                            son el estrés y la salud laboral.
                        </p>
                    </div>
                </div>                            
            </div>   
            <!-- PERFIL ALUMNO Y DOCUMENTACION -->   
            <div class="ficha-master">
                <div class="perfil-alumno ficha-dropdown">
                    <div class="drop-title">
                         <div>
                            <button class="dropbtn" onclick="show_hide(event, 'perfil')"> 
                                <img src="/2022/dist/images/icons/drop-down-rojo.png" alt="AUCAL Bussines School" class="icono-down"/>
                              <!--  <img src="/2022/dist/images/icons/drop-left-rojo.png" alt="AUCAL Bussines School" class="icono-left hidden"/> -->                                          
                            </button>
                         </div>
                        <div>
                            <p class="tab-h2">Perfil del alumno</p>   
                        </div>                     
                    </div>
                    <div class="ficha-dropdown-txt" id="perfil">
                        <p class="informacion-txt">
                            El Máster Oficial en Orientación Educativa y Psicopedagogía se encuentra <b>dirigido principalmente</b> a:
                        </p>
                        <ul class="tabla-titulaciones">
                            <li class="tipo-titulo"><span class="titulo-title">Maestros de educación infantil y primaria.</span> </li>
                            <li class="tipo-titulo"><span class="titulo-title">Profesores de enseñanza secundaria.</span> </li>
                            <li class="tipo-titulo"><span class="titulo-title">Psicólogos y psicopedagogos.</span></li>
                            <li class="tipo-titulo"><span class="titulo-title">Orientadores de centros educativos.</span></li>
                            <li class="tipo-titulo">
                                A todas aquellas personas interesadas en conocer sus consecuencias y profundizar en los aspectos
                                 que influyen en la etapa educativa con el fin de llevar a cabos medidas de actuación específicas.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="documentacion ficha-dropdown">
                    <div class="drop-title">
                        <div>
                           <button class="dropbtn" onclick="show_hide(event, 'documentacion')"> 
                               <img src="/2022/dist/images/icons/drop-down-rojo.png" alt="AUCAL Bussines School" class="icono-down"/>
                             <!--  <img src="/2022/dist/images/icons/drop-left-rojo.png" alt="AUCAL Bussines School" class="icono-left hidden"/> -->                                          
                           </button>
                        </div>
                       <div>
                           <p class="tab-h2">Documentación</p>   
                       </div>                     
                   </div>
                    <div class="ficha-dropdown-txt" id="documentacion">
                        <p class="informacion-txt">
                            Si estás interesado en estudiar este programa académico, de título oficial, debes cumplir con la entrega de los siguientes documentos: 
                        </p>
                        <ul class="tabla-titulaciones">
                            <li class="tipo-titulo">Fotocopia de documento de identificación.</li>
                            <li class="tipo-titulo">Foto tipo carnet (o pasaporte).</li>
                            <li class="tipo-titulo">Titulo Universitario oficial:
                                <ul style="margin: 1em 0 0 1em;">
                                    <li style="list-style: disc; margin-left: 1em;">Para Europeos: SET (Suplemento Europeo al Titulo).</li>
                                    <li style="list-style: disc; margin-left: 1em;">Para LATAM: Declaración de Valor al Italiano o Título con Apostilla de La Haya.</li>
                                </ul>
                            </li>
                            <li class="tipo-titulo">Hoja de Admisión completa y firmada.</li>
                            <li class="tipo-titulo">Comprobante de pago reserva de plaza.</li>                            
                        </ul>    
                        <p class="informacion-txt">
                            En el caso de que no poseas alguno de estos documentos, 
                            los interesados tienen la posibilidad de sacar el 
                            Título Profesional de este Máster emitido por AUCAL Business School 
                            y a un precio mucho más económico (en este caso no se piden requisitos de ingreso).
                        </p>                                     
                    </div>
                </div>
            </div>   
        </aside>
        <aside class="banner-azul-right">
            <div class="azul-right-img img-master"></div> 
            <div class="azul-right-txt">
               <div class="azul-right-title">
                    <p class="h2-azul-right">¿Quieres conocer las becas que tenemos en AUCAL?</p>
                </div>
                <div class="azul-right-hr">
                    <hr class="hr-red"/>
                </div>
                <div class="azul-right-descript">
                    <p class="p-zul-right">
                        Descubre nuestras becas nacionales e internacionales <br/>
                        <b>de hasta el 50%. ¡Inscríbete ahora!</b>
                    </p>
                </div>
            </div>
            <div class="azul-right-btn">
                <a href="/programa-becas" class="btn-border" alt="AUCAL Bussines School Programa Becas">VER BECAS
                </a>
            </div>                     
        </aside>         
        <aside class="titulo-fomulario" id="formSolicitar">
            <div class="becas-head center-head">
                <div class="title-center">
                    <p class="becas-h1">Formulario de solicitud</p>
                </div>
                <div class="center-hr">
                    <hr class="hr-red">
                </div>
            </div>
            <div class="becas-title">
                <p class="black-h1-big">
                    Déjanos tus datos y escribe tu consulta con la ayuda que deseas solicitar. Contactaremos contigo lo
                    antes posible para asesorate lo mejor posible en todo lo que necesites. 
                </p>
            </div>
        </aside>
        <aside class="formulario">            
            <iframe frameborder="0" style="height:1150px;width:99%;border:none;" 
            src='https://formulario.aucal.edu/aucalbusinessschool/form/FormularionuevaWebAUCAL/formperma/7-ULZDtrn9jf9iR3AmWEYjBwVmxtAmdLMjZk9fTGaYg' alt="AUCAL Bussines School Formulario Inscripcion">
            </iframe>  
        </aside>
    </div>
{% endblock %}