{% extends 'app/app.twig' %}
{% block head %}
    <meta property="og:image" content="https://www.aucal.edu/2022/dist/images/master-comercio-internacional-thun.png">
    <link rel="stylesheet" href="/2022/dist/css/master-cursos.css"/>
    <meta name="description" content="Sé un experto en Comercio Internacional online y adquiere los conocimientos para trabajar en el ámbito de comercio exterior y la gestión internacional de la empresa."/>
{% endblock %}

{% block body %}
    <div class="contenedor">
        <aside class="cursos-banner banner-comercio">            
            <div class="cursos-title-banner center-head">
                <div class="cursos-title center-title">
                    <p class="h2-cursos">MÁSTERES OFICIALES</p>
                </div>
                <div class="cursos-hr center-hr">
                    <hr class="hr-red"/>
                </div>
                <div class="cursos-txt center-title">
                    <p class="h1-cursos">Máster en Comercio Internacional</p>
                </div>
            </div>      
        </aside>
        <aside class="cursos-tabs">
            <div class="tabs-container">
                <div class="tabs-head tabs-head-responsive">
                    <div class="tabs-title">
                        <p class="tab-h1">Estudia el Máster Universitario en Máster en Comercio Internacional</p>
                    </div>
                    <div class="tabs-script">
                        <div class="tab-txt">
                            <p class="tab-h2-big">
                                60 ECTS | 9 meses | Online <br/>
                                Título Oficial de Universidad of Management - Universitá LUM <br/>
                                Título propio Aucal
                            </p>
                        </div>
                        <div class="tab-txt-btn">
                            <a href="https://formulario.aucal.edu/aucalbusinessschool/form/Solicituddecurso/formperma/QQmW1lAAqnFEUwcK0dnScLHFPwCuXaT5TdsO7n3Ro9E" class="btn-yellow" alt="AUCAL Bussines School Matricula Inscripcion" target="_blank">Hoja de Admisión</a>
                        </div>
                    </div>
                </div> 
                <div class="tabs-list">
                    <ul class="tabs-barra">
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'presentacion')">
                            <span class="cursos-tablink">PRESENTACIÓN</span>                                                
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'informacion')">
                            <span class="cursos-tablink">INFORMACIÓN</span>                        
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'planEstudios')">
                             <span class="cursos-tablink">PLAN DE ESTUDIOS</span>
                             
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'titulacion')">
                            <span class="cursos-tablink">TITULACIÓN</span>
                            
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'materiales')">
                            <span class="cursos-tablink">MATERIALES</span>                        
                        </li>
                    </ul>
                </div>  
                <div class="tabs-head tabs-head-principal">
                    <div class="tabs-title">
                        <p class="tab-h1">Estudia el Máster en Comercio Internacional</p>
                    </div>
                    <div class="tabs-script">
                        <div class="tab-txt">
                            <p class="tab-h2-big">
                                60 ECTS | 9 meses | Online <br/>
                                Título Oficial de Universidad of Management - Universitá LUM <br/>
                                Título propio Aucal
                            </p>
                        </div>
                        <div class="tab-txt-btn">
                            <a href="https://formulario.aucal.edu/aucalbusinessschool/form/Solicituddecurso/formperma/QQmW1lAAqnFEUwcK0dnScLHFPwCuXaT5TdsO7n3Ro9E" class="btn-yellow" alt="AUCAL Bussines School Matricula Inscripcion" target="_blank">Hoja de Admisión</a>
                        </div>
                    </div>
                </div>   
                <div class="tabs-cuerpo">
                    <div class="tabs-widgets">
                        <div class="tab-sec">
                            <ul class="tab-sec-list">
                                <li class="tab-link" href="javascript:void(0)"onclick="changeTab(event,'presentacion')" >
                                    <p class="tab-sec-txt">PRESENTACIÓN</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)"  onclick="changeTab(event,'informacion')">
                                    <p class="tab-sec-txt">INFORMACIÓN</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)" onclick="changeTab(event,'planEstudios')">
                                    <p class="tab-sec-txt">PLAN DE ESTUDIOS</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)" onclick="changeTab(event,'titulacion')">
                                    <p class="tab-sec-txt">TITULACIÓN</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)" onclick="changeTab(event,'materiales')">
                                    <p class="tab-sec-txt">MATERIALES</p>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-program">
                            <div class="tabs-program-img">
                                <img src="/2022/dist/images/oferta/portada-master-comercio-internacional.PNG" alt="AUCAL Bussines School Portada Master Comercio Internacional" class="image-program">
                            </div>
                            <div class="tabs-program-pdf btn-red-normal">
                                <a href="/2022/dist/pdf/AUCAL-master-comercio-internacional.pdf" class="btn-red-normal" target="_blank" alt="AUCAL Bussines School Programa Master Comercio Internacional">
                                    <p class="btn-txt-descarga">DESCARGAR PROGRAMA</p>
                                    <img src="/2022/dist/images/icons/descarga-blanco.png" alt="AUCAL Bussines School Descarga Master Comercio Internacional" class="btn-descarga-blanco">                                            
                                </a>
                            </div>
                        </div>
                    </div>
                    <di class="tabs">
                        <!-- PRESENTACION --> 
                        <div class="presentacion tab" id="presentacion">                             
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Presentación</p>
                                </div>
                                <div class="tabs-txt">
                                    <p class="presentacion-txt">
                                        Con este <b>máster en comercio Internacional online</b> se adquirirán los conocimientos 
                                        para trabajar en el ámbito de <b>comercio exterior</b> y la gestión internacional de la 
                                        empresa. El Máster proporciona los conocimientos, las habilidades y las destrezas 
                                        requeridas para poder desempeñar funciones vinculadas al área de la importación 
                                        y exportación y el comercio internacional; un <b>posgrado en internacionalización de 
                                        empresas</b> caracterizado por tratarse de un conocimiento específico en ciertas áreas 
                                        y multidisciplinar debido a la naturaleza de la operatividad comercial internacional.
                                    </p>
                                </div>    
                                <div class="tabs-txt">
                                    <p class="presentacion-txt">
                                        El <b>Máster en Comercio Internacional</b> ayuda a los profesionales del sector a poder 
                                        analizar, administrar con proveedores y clientes; como también controlar otros aspectos 
                                        importantes como son la tributación, la fiscalidad y la normativa para lograr la 
                                        <b>internacionalización de empresas.</b> 
                                    </p>
                                    <p class="presentacion-txt">
                                        Durante el desarrollo de esta <b>maestría en comercio internacional</b> se transmitirá 
                                        al alumno la visión, los conocimientos y las habilidades necesarias para dirigir y 
                                        gestionar los <b>negocios en mercados internacionales,</b> y organizar las operaciones 
                                        asociadas a los mismos. Los alumnos adquirirán los conocimientos adecuados para convertirse 
                                        en <b>especialistas en comercialización internacional de productos</b> y llevar a cabo 
                                        labores relacionadas con el comercio y las inversiones internacionales.
                                    </p>
                                    <p class="informacion-txt info-psico">
                                        Una vez finalizado el Máster Universitario en Comercio Internacional, 
                                        el alumnado estará <b>preparado para</b> ejercer en:
                                    </p>                                    
                                    <ul class="tabla-titulaciones">
                                        <li class="tipo-titulo">
                                            Empresas dedicadas a la importación y exportación de productos.
                                        </li>
                                        <li class="tipo-titulo">
                                            Empresas de investigación de mercado especializadas en estudios 
                                            de mercados y negocios internacionales.
                                        </li>
                                        <li class="tipo-titulo">
                                            Empresas en proceso de <b>internacionalización</b> que requieren 
                                            <b>expertos en comercialización internacional de productos</b> 
                                            capaces de negociar con proveedores y clientes internacionales.
                                        </li>
                                        <li class="tipo-titulo">
                                            Empresas dedicadas al e-commerce internacional para acometer 
                                            expansiones en mercados extranjeros.
                                        </li>
                                        <li class="tipo-titulo">
                                            Su propia empresa internacional, poniéndola en marcha con todos 
                                            los conocimientos adquiridos.
                                        </li>
                                        <li class="tipo-titulo">
                                            Las empresas ven en la internacionalización un recurso para 
                                            fomentar su crecimiento, y demandan cada vez más, profesionales preparados.
                                        </li>                                        
                                    </ul>
                                </div>
                                <div class="tabs-video">
                                    <div class="center-title">
                                        <p class="tab-h2">VIDEO DE PRESENTACION</p>
                                    </div>
                                    <div class="center-hr">
                                        <hr class="hr-red"/>
                                    </div>
                                    <div class="video-curso">
                                        <iframe width="280" height="180" src="https://www.youtube.com/embed/wxthGJ4cimE"></iframe>
                                    </div>
                                </div>
                            </div>                                                         
                        </div>
                        <!-- INFORMACION -->
                        <div id="informacion" class="informacion tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Información</p>
                                </div>                                
                                <div class="tabs-title">
                                    <p class="tab-h2">Objetivos</p>
                                </div>
                                <div class="tabs-txt">
                                    <ul class="tabla-titulaciones">
                                        <li class="tipo-titulo">
                                            Conocer y comprender los aspectos fundamentales de la <b>internacionalización 
                                            de empresas</b> y de la economía internacional.
                                        </li>
                                        <li class="tipo-titulo">
                                            Ser capaz de analizar las diferentes áreas de <b>economia y negocios internacionales</b> 
                                            que afectan de forma directa y global al comercio internacional.
                                        </li>
                                        <li class="tipo-titulo">
                                            Aprender los procesos de globalización mundial del comercio y de la economía, dotándole 
                                            de la preparación adecuada para trabajar en el departamento de comercio internacional de una empresa.
                                        </li>
                                        <li class="tipo-titulo">Establecer herramientas de búsqueda de información para la investigación de mercados exteriores.</li>
                                        <li class="tipo-titulo">
                                            Aprender a elaborar un plan de marketing-mix internacional y diseñar estrategias de penetración 
                                            en mercados internacionales. Dominar un marco analítico y conceptual enfocado a la eficiencia 
                                            en la toma de decisiones y al diseño y aplicación de los <b>programas de marketing</b> a nivel mundial.
                                        </li>
                                        <li class="tipo-titulo">
                                            Identificar las normas legales que deben utilizarse en los procedimientos de importación y 
                                            exportación, así como en el ámbito laboral y tributario de la empresa internacional, 
                                            con la finalidad de para garantizar la competitividad y lograr una actividad comercial 
                                            internacional exitosa.
                                        </li>
                                        <li class="tipo-titulo">
                                            Gestionar el stock y la logística de la empresa desarrollando soluciones 
                                            integrales para el <b>comercio internacional.</b>
                                        </li>
                                        <li class="tipo-titulo">
                                            Desarrollar un enfoque sistemático para analizar los acontecimientos en el entorno de 
                                            los organismos internacionales y las claves de la compraventa internacional.
                                        </li>
                                        <li class="tipo-titulo">
                                            Conocer, diseñar e implementar las cadenas de suministro en función de las características 
                                            del producto, los mercados internacionales y el cliente.
                                        </li>
                                        <li class="tipo-titulo">
                                            Desarrollar las habilidades y competencias directivas necesarias para la gestión eficiente 
                                            de un equipo comercial, desde el análisis y la optimización de recursos en el ámbito internacional.
                                        </li>
                                        <li class="tipo-titulo">
                                            Alcanzar las claves del éxito del <b>emprendimiento</b> y ser capaz de diseñar un plan 
                                            estratégico internacional para desarrollar negocios.
                                        </li>
                                        <li class="tipo-titulo">
                                            En definitiva el alumnado será capaz de poder abordar, con eficiencia y rigor, 
                                            la función de <b>Técnico en Comercio Internacional.</b> Habrá adquirido una visión 
                                            global-multicultural y práctica sobre cómo dirigir una empresa y/o gestionar 
                                            un departamento que realice actividades comerciales en el entorno internacional.
                                        </li>
                                    </ul>    
                                </div>
                            </div>
                        </div>
                        <!-- PLAN ESTUDIOS -->
                        <div id="planEstudios" class="plan-estudios tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Asignaturas</p>
                                </div>
                                <div class="tabs-title">
                                    <p class="tab-h2">MATERIAS COMUNES (obligatorias)</p>
                                </div>                               
                                <div class="plan-estudios-tabla">
                                    <ul class="agignaturas-tabla">
                                        <li class="tabla-seccion">
                                            <span class="tabla-title"> ASIGNATURAS </span>
                                            <span class="tabla-ect">ECTS</span>
                                            <ul class="tabla-detalle">                                                
                                                <li class="tabla-titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Las Relaciones Internacionales y el contexto internacional del comercio</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio ">
                                                        <li class="titulo-descript">Marketing Internacional</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Financiación, contratación y fiscalidad</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Derecho mercantil internacional, organizaciones e instituciones internacionales</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Incoterms</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Transporte internacional, distribución y logística</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript descript-bold">Aduanas y fiscalidad extranjera</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript descript-bold">Formas y medios de pago</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>                                               
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript descript-bold">Metodología de Investigación en Ciencias Sociales</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">TRABAJO FIN DE MÁSTER (TFM)</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="tabla-total">
                                            <span class="tabla-title">TOTALES</span>
                                            <span class="tabla-ect">60</span>
                                        </li>
                                    </ul>
                                </div>                                
                            </div>
                        </div>
                        <!-- TITULACION -->
                        <div id="titulacion" class="titulacion tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Titulación</p>
                                </div>
                                <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                        TITULACIÓN OFICIAL UNIVERSIDAD OF MANAGEMENT - Università LUM
                                    </p>
                                </div>
                                <div class="tabs-title">
                                    <p class="tab-h2">Mención: "Máster Universitario en Comercio Internacional"</p>
                                </div>
                                <div class="tabs-img">
                                    <img src="/2022/dist/images/diploma-SCHOOL.jpg" alt="AUCAL Bussines School Diploma Master Compliance Penal Tecnologico Scholl of Management" class="img-diploma diploma-school">                                    
                                </div>
                               <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                       TITULACIÓN PROPIA AUCAL BUSINESS SCHOOL
                                    </p>
                                </div>
                                <div class="tabs-title">
                                    <p class="tab-h2">Mención: "Máster en Comercio Internacional"</p>
                                </div>       
                                <div class="tabs-img">
                                    <img src="/2022/dist/images/diploma-AUCAL.jpg" alt="AUCAL Bussines School Diploma Master Comercio Internacional Aucal" class="img-diploma">                                    
                                </div>
                            </div>
                        </div>
                        <!-- MATERIALES -->
                        <div id="materiales" class="materiales tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Materiales</p>
                                </div>
                                <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                        El alumno dispondrá del material de estudio necesario para la realización de la formación en la plataforma virtual.                                    
				                    </p>
                                </div>
                                <div class="tabs-img">
                                    <img src="/2022/dist/images/material_aucal.png" alt="AUCAL Bussines School Material Master Comercio Internacional" class="materiales-img"/>
                                </div>
                            </div>
                        </div>
                    </di> <!-- TABS -->
                </div> <!-- CUERPO -->
            </div>
        </aside>
        <aside class="coordinador-perfil">
            <!-- BIOGRAFIA COORDINADOR -->
            <div class="tabs-banner-bottom">
                <div class="banner-bottom-img">
                    <img src="/2022/dist/images/coordis/tamara-belver.png" alt="AUCAL Bussines School Coordinador Master Comercio Internacional" class="img-coordinador"/>
                </div>
                <div class="banner-bottom-txt">
                    <div class="tabs-title">
                        <p class="tab-h2">Coordinadora del Máster</p>
                        <p class="tab-h1">Tamara Belver</p>
                    </div>
                    <div class="tabs-txt">
                        <p class="banner-bottom-descript">
                            Licenciada en Administración y Dirección de Empresas; 
                            Máster en Investigación de Economía de la Empresa. 
                            Posee más de 7 años de experiencia como docente.
                        </p>
                    </div>
                </div>                            
            </div>   
             <!-- PERFIL ALUMNO Y DOCUMENTACION -->   
             <div class="ficha-master">
                <div class="perfil-alumno ficha-dropdown">
                    <div class="drop-title">
                         <div>
                            <button class="dropbtn" onclick="show_hide(event, 'perfil')"> 
                                <img src="/2022/dist/images/icons/drop-down-rojo.png" alt="AUCAL Bussines School" class="icono-down"/>
                              <!--  <img src="/2022/dist/images/icons/drop-left-rojo.png" alt="AUCAL Bussines School" class="icono-left hidden"/> -->                                          
                            </button>
                         </div>
                        <div>
                            <p class="tab-h2">Perfil del alumno</p>   
                        </div>                     
                    </div>
                    <div class="ficha-dropdown-txt" id="perfil">
                        <p class="informacion-txt">
                            El <b>Máster Universitario en Comercio Internacional,</b> por su carácter 
                            multidisciplinar, está <b>dirigido principalmente</b> a todas aquellas personas que
                            deseen desarrollar su actividad laboral y quieran adquirir una formación de alto nivel 
                            con titulación universitaria oficial, que les permita una proyección profesional 
                            en el ámbito del <b>comercio exterior</b> y en las actividades de importación/exportación.
                        </p>                    
                    </div>
                </div>
                <div class="documentacion ficha-dropdown">
                    <div class="drop-title">
                        <div>
                           <button class="dropbtn" onclick="show_hide(event, 'documentacion')"> 
                               <img src="/2022/dist/images/icons/drop-down-rojo.png" alt="AUCAL Bussines School" class="icono-down"/>
                             <!--  <img src="/2022/dist/images/icons/drop-left-rojo.png" alt="AUCAL Bussines School" class="icono-left hidden"/> -->                                          
                           </button>
                        </div>
                       <div>
                           <p class="tab-h2">Documentación</p>   
                       </div>                     
                   </div>
                    <div class="ficha-dropdown-txt" id="documentacion">
                        <p class="informacion-txt">
                            Si estás interesado en estudiar este programa académico, debes cumplir con la entrega de los siguientes documentos: 
                        </p>
                        <ul class="tabla-titulaciones">
                            <li class="tipo-titulo">Fotocopia de documento de identificación.</li>
                            <li class="tipo-titulo">Foto tipo carnet (o pasaporte).</li>
                            <li class="tipo-titulo">Titulo Universitario oficial:
                                <ul style="margin: 1em 0 0 1em;">
                                    <li style="list-style: disc; margin-left: 1em;">Para Europeos: SET (Suplemento Europeo al Titulo).</li>
                                    <li style="list-style: disc; margin-left: 1em;">Para LATAM: Declaración de Valor al Italiano o Título con Apostilla de La Haya.</li>
                                </ul>
                            </li>
                            <li class="tipo-titulo">Hoja de Admisión completa y firmada.</li>
                            <li class="tipo-titulo">Comprobante de pago reserva de plaza.</li>                            
                        </ul>    
                        <p class="informacion-txt">
                            En el caso de que no poseas alguno de estos documentos, 
                            los interesados tienen la posibilidad de sacar el 
                            Título Profesional de este Máster emitido por AUCAL Business School 
                            y a un precio mucho más económico (en este caso no se piden requisitos de ingreso).
                        </p>                                     
                    </div>
                </div>
            </div>                  
        </aside>
        <aside class="banner-azul-right">
            <div class="azul-right-img img-master"></div> 
            <div class="azul-right-txt">
               <div class="azul-right-title">
                    <p class="h2-azul-right">¿Quieres conocer las becas que tenemos en AUCAL?</p>
                </div>
                <div class="azul-right-hr">
                    <hr class="hr-red"/>
                </div>
                <div class="azul-right-descript">
                    <p class="p-zul-right">
                        Descubre nuestras becas nacionales e internacionales <br/>
                        <b>de hasta el 50%. ¡Inscríbete ahora!</b>
                    </p>
                </div>
            </div>
            <div class="azul-right-btn">
                <a href="/programa-becas" class="btn-border" alt="Ver becas">VER BECAS
                </a>
            </div>                     
        </aside>         
        <aside class="titulo-fomulario" id="formSolicitar">
            <div class="becas-head center-head">
                <div class="title-center">
                    <p class="becas-h1">Formulario de solicitud</p>
                </div>
                <div class="center-hr">
                    <hr class="hr-red">
                </div>
            </div>
            <div class="becas-title">
                <p class="black-h1-big">
                    Déjanos tus datos y escribe tu consulta con la ayuda que deseas solicitar. Contactaremos contigo lo
                    antes posible para asesorate lo mejor posible en todo lo que necesites. 
                </p>
            </div>
        </aside>
        <aside class="formulario">            
            <iframe frameborder="0" style="height:1150px;width:99%;border:none;" 
            src='https://formulario.aucal.edu/aucalbusinessschool/form/FormularionuevaWebAUCAL/formperma/7-ULZDtrn9jf9iR3AmWEYjBwVmxtAmdLMjZk9fTGaYg' alt="AUCAL Bussines School Formulario Inscripcion">
            </iframe>  
        </aside>
    </div>
{% endblock %}