{% extends 'app/app.twig' %}
{% block head %}
    <meta name="description" content=" Programa de MBA online con 3 especialidades a elegir, project management, recursos humanos y compliance. Título Oficial europeo."/>
    <meta property="og:image" content="/2022/dist/images/master-mba-thun.png">
    <meta property="og:title" content="MBA en Dirección y Administración de Empresas | Aucal">
    <link rel="stylesheet" href="/2022/dist/css/master-cursos.css"/>
{% endblock %}

{% block body %}
    <div class="contenedor">
        <aside class="cursos-banner banner-mba">            
            <div class="cursos-title-banner center-head">
                <div class="cursos-title center-title">
                    <p class="h2-cursos">MÁSTERES OFICIALES</p>
                </div>
                <div class="cursos-hr center-hr">
                    <hr class="hr-red"/>
                </div>
                <div class="cursos-txt center-title">
                    <p class="h1-cursos">MBA en Dirección y Administración de Empresas</p>
                </div>
            </div>      
        </aside>
        <aside class="cursos-tabs">
            <div class="tabs-container">
                <div class="tabs-head tabs-head-responsive">
                    <div class="tabs-title">
                        <p class="tab-h1">Estudia el máster MBA en Dirección y Administración de Empresas en AUCAL</p>
                    </div>
                    <div class="tabs-script">
                        <div class="tab-txt">
                            <p class="tab-h2-big">
                                60 ECTS | 9 meses | Online <br/>
                                Título Oficial de Universidad Italiana <br/>
                                Título propio Aucal
                            </p>
                        </div>
                        <div class="tab-txt-btn">
                            <a href="https://formulario.aucal.edu/aucalbusinessschool/form/Solicituddecurso/formperma/QQmW1lAAqnFEUwcK0dnScLHFPwCuXaT5TdsO7n3Ro9E" class="btn-yellow" alt="AUCAL Bussines School Matricula Inscripcion" target="_blank">Hoja de Admisión</a>
                        </div>
                    </div>
                </div> 
                <div class="tabs-list">
                    <ul class="tabs-barra">
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'presentacion')">
                            <span class="cursos-tablink">PRESENTACIÓN</span>                                                
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'informacion')">
                            <span class="cursos-tablink">INFORMACIÓN</span>                        
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'planEstudios')">
                             <span class="cursos-tablink">PLAN DE ESTUDIOS</span>
                             
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'titulacion')">
                            <span class="cursos-tablink">TITULACIÓN</span>
                            
                        </li>
                        <li href="javascript:void(0)" class="btn-red-normal" onclick="showTab(event,'materiales')">
                            <span class="cursos-tablink">MATERIALES</span>                        
                        </li>
                    </ul>
                </div>  
                <div class="tabs-head tabs-head-principal">
                    <div class="tabs-title">
                        <p class="tab-h1">Estudia el máster MBA en Dirección y Administración de Empresas en AUCAL</p>
                    </div>
                    <div class="tabs-script">
                        <div class="tab-txt">
                            <p class="tab-h2-big">
                                60 ECTS | 9 meses | Online <br/>
                                Título Oficial de Universidad Italiana <br/>
                                Título propio Aucal
                            </p>
                        </div>
                        <div class="tab-txt-btn">
                            <a href="https://formulario.aucal.edu/aucalbusinessschool/form/Solicituddecurso/formperma/QQmW1lAAqnFEUwcK0dnScLHFPwCuXaT5TdsO7n3Ro9E" class="btn-yellow" alt="AUCAL Bussines School Matricula Inscripcion" target="_blank">Hoja de Admisión</a>
                        </div>
                    </div>
                </div>  
                <div class="tabs-cuerpo">
                    <div class="tabs-widgets">
                        <div class="tab-sec">
                            <ul class="tab-sec-list">
                                <li class="tab-link" href="javascript:void(0)"onclick="changeTab(event,'presentacion')" >
                                    <p class="tab-sec-txt">PRESENTACIÓN</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)"  onclick="changeTab(event,'informacion')">
                                    <p class="tab-sec-txt">INFORMACIÓN</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)" onclick="changeTab(event,'planEstudios')">
                                    <p class="tab-sec-txt">PLAN DE ESTUDIOS</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)" onclick="changeTab(event,'titulacion')">
                                    <p class="tab-sec-txt">TITULACIÓN</p>
                                </li>
                                <li class="tab-link" href="javascript:void(0)" onclick="changeTab(event,'materiales')">
                                    <p class="tab-sec-txt">MATERIALES</p>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-program">
                            <div class="tabs-program-img">
                                <img src="/2022/dist/images/oferta/portada-master-mba.png" alt="AUCAL Bussines School Portada Master MBA en Dirección y Administración de Empresas" class="image-program">
                            </div>
                            <div class="tabs-program-pdf btn-red-normal">
                                <a href="/2022/dist/pdf/AUCAL-dossier-Master-MBA.pdf" class="btn-red-normal" target="_blank" alt="AUCAL Bussines School Programa Master MBA en Dirección y Administración de Empresas">
                                    <p class="btn-txt-descarga">DESCARGAR PROGRAMA</p>
                                    <img src="/2022/dist/images/icons/descarga-blanco.png" alt="AUCAL Bussines School Descargar Master MBA en Dirección y Administración de Empresas" class="btn-descarga-blanco">                                            
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs">
                        <!-- PRESENTACION -->                 
                        <div class="presentacion tab" id="presentacion"> 
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Presentación</p>
                                </div>
                                <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                        El entorno actual en continuo cambio obliga a los profesionales a conocer y adoptar las capacidades necesarias para implantar las 
                                        soluciones más adecuadas en cada caso y permitir la toma de decisiones más eficientes en función de la información disponible. 
                                        Hoy más que nunca tenemos una enorme necesidad de estar actualizados en conocimiento y competencias.
                                    </p>
                                </div>                               
                                <div class="tabs-txt">
                                    <p class="presentacion-txt">
                                        Este Máster en Administración de Negocios o <b>MBA online</b>, te entrega acceso a las áreas funcionales clásicas (Finanzas, RRHH, Producción, etc.), 
                                        uniéndose con unas competencias transversales de liderazgo, innovación y tecnologías que deben de abordar en el nuevo entorno, 
                                        por lo que podrás adquirir los más actualizados sistemas de gestión en cada área.
                                    </p>
                                    <p class="presentacion-txt">
                                        El <b>Máster en Dirección de Empresas (MBA)</b> dirige el enfoque a organizaciones más plurales, multiculturales e intergeneracionales 
                                        que requieren la correcta gestión del capital humano y la gestión del conocimiento.
                                    </p>
                                    <p class="presentacion-txt">
                                        En este marco, una formación integral como el <b>programa MBA online</b>, actualizada y reflexiva sobre este escenario es fundamental 
                                        para mejorar la empleabilidad y desarrollo profesional tanto de titulados universitarios que acceden al mercado laboral, 
                                        como aquellos que ya tienen una experiencia previa. 
                                    </p>
                                    <p class="presentacion-txt">
                                        Para dar respuesta a este reto, el <b>Máster en Administración de Empresas (MBA) de AUCAL</b>, ha desarrollado esta formación 
                                        con los más altos estándares de excelencia y visión empresarial. El <b>Máster of Business Administration</b> de AUCAL está diseñado 
                                        con el objetivo de entrenarte para los nuevos desafíos de la mano de docentes líderes en su ámbito profesional en este 
                                        mundo cada vez más digital, internacional y competitivo. 
                                    </p>
                                </div>
                            </div>
                            <!--<div class="tabs-video">
                                <div class="center-title">
                                    <p class="tab-h2">VIDEO DE PRESENTACION</p>
                                </div>
                                <div class="center-hr">
                                    <hr class="hr-red"/>
                                </div>
                                <div class="video-curso">
                                    <iframe src=""></iframe>
                                </div>
                            </div>-->
                        </div> 
                        <!-- INFORMACION -->  
                        <div id="informacion" class="informacion tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Información</p>
                                </div>                                
                                <div class="tabs-title">
                                    <p class="tab-h2">Objetivos</p>
                                </div>
                                <div class="tabs-txt">
                                    <p class="presentacion-txt">Con este <b>Máster en Administración de Negocios</b>, podrás cumplir los siguientes objetivos principales:</p>
                                    <ul class="tabla-titulaciones">                                       
                                        <li class="tipo-titulo">
                                            Profundizar en el desarrollo de las habilidades directivas del alumno para la toma de decisiones
                                        </li>
                                        <li class="tipo-titulo">
                                            Dominar las metodologías, técnicas y los instrumentos de gestión de cada área funcional del negocio, así como su interrelación.
                                        </li>
                                        <li class="tipo-titulo">
                                            Mejorar e impulsar la trayectoria profesional y directiva, sabiendo aprovechar aprovechar las tendencias empresariales de tu entorno o mercado
                                        </li>                                      
                                    </ul>
                                    <p class="presentacion-txt">
                                        Como conclusión, este <b>Máster en Dirección de Empresas</b> te preparará para gestionar y dirigir negocios en cualquier sector de forma óptima, 
                                        adoptando sistemas de gestión para la toma de decisiones y la implantación, fomentando el trabajo en equipo, 
                                        la flexibilidad, y el liderazgo en cualquier organización.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- PLAN ESTUDIOS -->
                        <div id="planEstudios" class="plan-estudios tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Asignaturas</p>
                                </div>
                                <div class="tabs-title">
                                    <p class="tab-h2">MATERIAS COMUNES (obligatorias)</p>
                                </div>                                
                                <div class="plan-estudios-tabla">
                                    <ul class="agignaturas-tabla">
                                        <li class="tabla-seccion">
                                            <span class="tabla-title"> ASIGNATURAS </span>
                                            <span class="tabla-ect">ECTS</span>
                                            <ul class="tabla-detalle">
                                                <li class="table-titulo-precio">
                                                    <ul class="titulo-precio tabla-title-2">
                                                        <li class="titulo-descript">
                                                           <b> MATERIAS COMUNES (OBLIGATORIAS) </b>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="tabla-titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Dirección estratégica</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio ">
                                                        <li class="titulo-descript">Gestión de la innovación: transformación empresarial</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Marketing integrado</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Gestión y control de presupuesto</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Gestión de personas y gestión de talentos</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Finanzas en un ambiente digital</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript descript-bold">Departamento de operaciones y logística</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Programación neurolingüística</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                <li class="titulo-precio">
                                                    <ul class="titulo-precio tabla-title-2">
                                                        <li class="titulo-descript"><b>Especialidad a elegir (menciones):</b></li>
                                                    </ul>
                                                </li>
                                                 <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript" style="text-align:right; font-size:12px"><i>Dirección de RRHH y Gestión del Talento: Modelos de organización y gestión de RRHH.</i></li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                 <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript" style="text-align:right; font-size:12px"><i>Project Management: Introducción a la Formulación, Evaluación y Gestión de Proyectos</i></li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                 <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript" style="text-align:right; font-size:12px"><i>Compliance Empresarial: Diseño e implantación de un Programa de Compliance, mitigación de riesgos de Compliance y figura del Compliance Officer</i></li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                                 <li class="titulo-precio">
                                                    <ul class="titulo-precio">
                                                        <li class="titulo-descript">Trabajo Fin de Máster (TFM)</li>
                                                        <li class="titulo-precio">6</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="tabla-total">
                                            <span class="tabla-title">TOTALES</span>
                                            <span class="tabla-ect">60</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- TITULACION -->
                        <div id="titulacion" class="titulacion tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Titulación</p>
                                </div>
                                <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                       TITULACIÓN OFICIAL UNIVERSIDAD ITALIANA
                                    </p>
                                </div>
                                <div class="tabs-title">
                                    <p class="tab-h2">Mención: "Máster Universitario en Administración y Dirección de Empresas (MBA)"</p>
                                </div>
                                <!--<div class="tabs-img">
                                    <img src="/2022/dist/images/diploma-UFV.png" alt="AUCAL Bussines School Diploma Master MBA en Dirección y Administración de Empresas UFV" class="img-diploma">                                    
                                </div>-->
                                <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                       TITULACIÓN PROPIA AUCAL BUSINESS SCHOOL
                                    </p>
                                </div>
                                <div class="tabs-title">
                                    <p class="tab-h2">Mención: "Máster en Administración y Dirección de Empresas (MBA)"</p>
                                </div>       
                                <div class="tabs-img">
                                    <img src="/2022/dist/images/diploma-AUCAL.jpg" alt="AUCAL Bussines School Diploma Master Comercio Internacional Aucal" class="img-diploma">                                    
                                </div>
                            </div>
                        </div>
                        <!-- MATERIALES -->
                        <div id="materiales" class="materiales tab">
                            <div class="tabs-resumen">
                                <div class="tabs-title">
                                    <p class="tab-h1">Materiales</p>
                                </div>
                                <div class="tab-resu-txt">
                                    <p class="presentacion-txt">
                                        El alumno dispondrá del material de estudio necesario para la realización de la formación en la plataforma virtual.                                    
				                    </p>
                                </div>                                
				                <div class="tabs-img">
                                    <img src="/2022/dist/images/material_aucal.png" alt="AUCAL Bussines School Material Master MBA en Dirección y Administración de Empresas" class="materiales-img"/>
                                </div>
                            </div>
                        </div>

                    </div> <!-- .tabs -->
                </div>    <!-- .tabs-cuerpo -->              
            </div> <!-- tabs-container -->
        </aside>
        <aside class="coordinador-perfil">
             <!-- BIOGRAFIA COORDINADOR -->
             <div class="tabs-banner-bottom">
                <div class="banner-bottom-img">
                    <img src="/2022/dist/images/coordis/jose-antonio-martinez.png" alt="AUCAL Bussines School Coordinador Master MBA en Dirección y Administración de Empresas" class="img-coordinador"/>
                </div>
                <div class="banner-bottom-txt">
                    <div class="tabs-title">
                        <p class="tab-h2">Coordinador del Máster</p>
                        <p class="tab-h1">José Antonio Martínez Fernández</p>
                    </div>
                    <div class="tabs-txt">
                        <p class="banner-bottom-descript">
                            Ingeniero Industrial y Doctor en Administración y Dirección de Empresas. <br/>
                            Posee 23 años de experiencia laboral en el Sector Privado (Grupo ENDESA, Getronics y Siemens) 
                            y en el Sector Público en gestión de proyectos de mejora organizacional y TIC. Máster MBA; 
                            Máster en Gestión de las TICs; Máster en Business Intelligent y Big Data; Máster en Innovación. 
                            Programa de Alta Dirección Directiva. Profesor de Universidad y en Escuelas de Negocios.
                        </p>
                    </div>
                </div>                            
            </div>   
            <!-- PERFIL ALUMNO Y DOCUMENTACION -->    
            <div class="ficha-master">
                <div class="perfil-alumno ficha-dropdown">
                    <div class="drop-title">
                         <div>
                            <button class="dropbtn" onclick="show_hide(event, 'perfil')"> 
                                <img src="/2022/dist/images/icons/drop-down-rojo.png" alt="AUCAL Bussines School" class="icono-down"/>
                              <!--  <img src="/2022/dist/images/icons/drop-left-rojo.png" alt="AUCAL Bussines School" class="icono-left hidden"/> -->                                          
                            </button>
                         </div>
                        <div>
                            <p class="tab-h2">Perfil del alumno</p>   
                        </div>                     
                    </div>
                    <div class="ficha-dropdown-txt" id="perfil">
                        <p class="informacion-txt">
                            El <b>MBA de AUCAL</b>, se encuentra dirigido principalmente a:
                        </p>                        
                        <ul class="tabla-titulaciones">
                            <li class="tipo-titulo">
                                <span class="titulo-title">Titulados universitarios</span> que deseen orientar su vida profesional hacia la dirección y administración de empresas, contando con una formación especializada y actualizada en modernos sistemas de gestión.
                            </li>                           
                            <li class="tipo-titulo">
                                Tanto Alumnos que hayan finalizado sus estudios recientemente, como para aquellos que tengan experiencia profesional y deseen especializarse.                                
                            </li>
                        </ul>
                        
                    </div>
                </div>
                <div class="documentacion ficha-dropdown">
                    <div class="drop-title">
                        <div>
                           <button class="dropbtn" onclick="show_hide(event, 'documentacion')"> 
                               <img src="/2022/dist/images/icons/drop-down-rojo.png" alt="AUCAL Bussines School" class="icono-down"/>
                             <!--  <img src="/2022/dist/images/icons/drop-left-rojo.png" alt="AUCAL Bussines School" class="icono-left hidden"/> -->                                          
                           </button>
                        </div>
                       <div>
                           <p class="tab-h2">Documentación</p>   
                       </div>                     
                   </div>
                   <div class="ficha-dropdown-txt" id="documentacion">
                        <p class="informacion-txt">
                            Si estás interesado en estudiar este programa académico, debes cumplir con la entrega de los siguientes documentos: 
                        </p>
                        <ul class="tabla-titulaciones">
                            <li class="tipo-titulo">Fotocopia de documento de identificación.</li>
                            <li class="tipo-titulo">Foto tipo carnet (o pasaporte).</li>
                            <li class="tipo-titulo">Titulo Universitario oficial:
                                <ul style="margin: 1em 0 0 1em;">
                                    <li style="list-style: disc; margin-left: 1em;">Para Europeos: SET (Suplemento Europeo al Titulo).</li>
                                    <li style="list-style: disc; margin-left: 1em;">Para LATAM: Declaración de Valor al Italiano o Título con Apostilla de La Haya.</li>
                                </ul>
                            </li>
                            <li class="tipo-titulo">Hoja de Admisión completa y firmada.</li>
                            <li class="tipo-titulo">Comprobante de pago reserva de plaza.</li>                            
                        </ul>    
                        <p class="informacion-txt">
                            En el caso de que no poseas alguno de estos documentos, 
                            los interesados tienen la posibilidad de sacar el 
                            Título Profesional de este Máster emitido por AUCAL Business School 
                            y a un precio mucho más económico (en este caso no se piden requisitos de ingreso).
                        </p>                                     
                    </div>
                </div>
            </div>  
        </aside>
        <aside class="banner-azul-right">
            <div class="azul-right-img img-master"></div> 
            <div class="azul-right-txt">
               <div class="azul-right-title">
                    <p class="h2-azul-right">¿Quieres conocer las becas que tenemos en AUCAL?</p>
                </div>
                <div class="azul-right-hr">
                    <hr class="hr-red"/>
                </div>
                <div class="azul-right-descript">
                    <p class="p-zul-right">
                        Descubre nuestras becas nacionales e internacionales <br/>
                        <b>de hasta el 50%. ¡Inscríbete ahora!</b>
                    </p>
                </div>
            </div>
            <div class="azul-right-btn">
                <a href="/programa-becas" class="btn-border" alt="AUCAL Bussines School Programa Becas">VER BECAS
                </a>
            </div>                     
        </aside>         
        <aside class="titulo-fomulario" id="formSolicitar">
            <div class="becas-head center-head">
                <div class="title-center">
                    <p class="becas-h1">Formulario de solicitud</p>
                </div>
                <div class="center-hr">
                    <hr class="hr-red">
                </div>
            </div>
            <div class="becas-title">
                <p class="black-h1-big">
                    Déjanos tus datos y escribe tu consulta con la ayuda que deseas solicitar. Contactaremos contigo lo
                    antes posible para asesorate lo mejor posible en todo lo que necesites. 
                </p>
            </div>
        </aside>
        <aside class="formulario">            
            <iframe frameborder="0" style="height:1150px;width:99%;border:none;" 
            src='https://formulario.aucal.edu/aucalbusinessschool/form/FormularionuevaWebAUCAL/formperma/7-ULZDtrn9jf9iR3AmWEYjBwVmxtAmdLMjZk9fTGaYg' alt="AUCAL Bussines School Formulario Inscripcion">
            </iframe>  
        </aside>
    </div>
{% endblock %}